openapi: 3.1.0
info:
  title: 创建视频生成任务 API（方舟兼容）
  version: 1.0.0
  description: >-
    火山方舟兼容的异步视频生成任务创建端点。将方舟 SDK 或客户端的 base
    URL 指向本服务即可，请求体与 ark.cn-beijing.volces.com 保持一致。一个
    模型名覆盖全部场景：文生视频、图生视频（首帧或首尾帧）与全模态参考
    生视频由 content 内容自动推断。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /api/v3/contents/generations/tasks:
    post:
      summary: 创建视频生成任务
      operationId: post-ark-create-video-task
      tags:
        - 视频任务
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: >-
                    模型名。接受 APIPod 公开名（seedance-2.5、seedance-2.0、
                    seedance-2.0-fast、seedance-2.0-mini 及特价版本）、火山
                    原生名（含尾部版本号，如 doubao-seedance-2-5-260128），
                    以及已带场景后缀的名（seedance-2.5-i2v）。
                  example: seedance-2.5
                content:
                  type: array
                  description: >-
                    输入内容列表。文本即提示词；无 role 或 role 为
                    first_frame/last_frame 的图片（最多 2 张）走图生视频；
                    role 为 reference_image 的图片、参考视频与参考音频走全
                    模态参考生视频。三种场景互斥，不可混用。
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - text
                          - image_url
                          - video_url
                          - audio_url
                        description: 内容项类型。
                      text:
                        type: string
                        description: 文本提示词，type 为 text 时填写。
                      image_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 图片 URL 或 data URL。
                        description: 图片对象，type 为 image_url 时填写。
                      video_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 参考视频 URL。
                        description: 视频对象，type 为 video_url 时填写。
                      audio_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 参考音频 URL。
                        description: 音频对象，type 为 audio_url 时填写。
                      role:
                        type: string
                        enum:
                          - first_frame
                          - last_frame
                          - reference_image
                          - reference_video
                          - reference_audio
                        description: 媒体项角色。无 role 的图片按首尾帧处理。
                  example:
                    - type: text
                      text: 小猫对着镜头打哈欠
                    - type: image_url
                      image_url:
                        url: https://example.com/first.png
                      role: first_frame
                resolution:
                  type: string
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                    - 4k
                  description: 视频分辨率。可选值随模型而定。
                ratio:
                  type: string
                  enum:
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                    - 21:9
                    - adaptive
                  description: 生成视频的宽高比。
                duration:
                  type: integer
                  description: 视频时长（秒）。支持智能选择的模型可传 -1。
                seed:
                  type: integer
                  description: 随机种子。部分模型支持。
                generate_audio:
                  type: boolean
                  description: 是否生成与画面同步的音频。部分模型支持。
                camera_fixed:
                  type: boolean
                  description: 是否固定摄像头。部分模型支持。
                watermark:
                  type: boolean
                  description: 是否添加 AI 生成水印。部分模型支持。
                return_last_frame:
                  type: boolean
                  description: 是否同时返回尾帧图片。
                callback_url:
                  type: string
                  description: >-
                    回调地址。任务到达终态时，APIPod 会 POST 与查询接口响应
                    同构的任务对象。
                tools:
                  type: array
                  description: 工具配置。当前仅识别 web_search，且仅对支持的模型生效。
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - web_search
                        description: 工具类型。
              required:
                - model
                - content
            example:
              model: seedance-2.5
              content:
                - type: text
                  text: 小猫对着镜头打哈欠
              resolution: 720p
              ratio: 16:9
              duration: 5
      responses:
        "200":
          description: 任务创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 异步任务 ID。使用该值调用查询接口轮询任务。
                  model:
                    type: string
                    description: 本任务使用的公开模型系列名。
                required:
                  - id
                  - model
              example:
                id: 0f4c9f6e-1111-4c1d-8c2f-2b7b9a1c4d55
                model: seedance-2.5
        "400":
          description: 请求不合法，例如携带不支持的 frames 参数或混用了互斥的 content 场景。
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: 方舟风格错误码。
                      message:
                        type: string
                        description: 面向客户端的安全错误信息。
        "401":
          description: 鉴权失败。
        "402":
          description: 余额不足。
        "404":
          description: 模型不存在。
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 头中以 Bearer 方式携带 APIPod API Key。
