openapi: 3.1.0
info:
  title: Gemini Omni Image to Video API
  version: 1.0.0
  description: Gemini Omni I2V is APIPod's first/last-frame image-to-video routing
    mode for the configured Gemini Omni channel. It accepts one required first
    frame and one optional last frame. In APIPod, the public model ID is
    gemini-omni-i2v. It supports image-to-video, accepts text and image inputs,
    and returns results through asynchronous video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Gemini Omni I2V is APIPod's first/last-frame image-to-video routing
        mode for the configured Gemini Omni channel. It accepts one required
        first frame and one optional last frame. In APIPod, the public model ID
        is gemini-omni-i2v. It supports image-to-video, accepts text and image
        inputs, and returns results through asynchronous video tasks.
      operationId: create-gemini-omni-gemini-omni-i2v
      tags:
        - Gemini Omni Image to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Public APIPod model ID.
                  const: gemini-omni-i2v
                prompt:
                  type: string
                  description: Describe the desired scene, motion, or extension.
                  maxLength: 4000
                image_urls:
                  type: array
                  items:
                    type: string
                  description: First frame and optional last frame.
                  minItems: 1
                  maxItems: 2
                video_url:
                  type: string
                  description: Source video URL required for extension.
                aspect_ratio:
                  type: string
                  description: Video aspect ratio.
                  default: 16:9
                  enum:
                    - 16:9
                    - 9:16
                    - 1:1
                resolution:
                  type: string
                  description: Output resolution supported by the selected channel.
                  enum:
                    - 720p
                    - 1080p
                duration:
                  type: integer
                  description: Clip duration in seconds.
                  default: 10
                  minimum: 1
                  maximum: 30
                callback_url:
                  type: string
                  description: HTTPS endpoint that receives task completion notifications.
              required:
                - model
                - prompt
                - image_urls
            example:
              model: gemini-omni-i2v
              prompt: Animate the subject with a slow camera push-in, natural motion, and soft
                cinematic lighting.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              aspect_ratio: 16:9
              resolution: 720p
              duration: 10
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    const: 200
                  message:
                    type: string
                    description: Response message.
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: Public APIPod task ID used for status queries.
                    required:
                      - task_id
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "gemini-omni-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "aspect_ratio": "16:9",
              "resolution": "720p",
              "duration": 10
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "gemini-omni-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "aspect_ratio": "16:9",
              "resolution": "720p",
              "duration": 10
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "gemini-omni-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "aspect_ratio": "16:9",
              "resolution": "720p",
              "duration": 10
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "gemini-omni-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "aspect_ratio": "16:9",
              "resolution": "720p",
              "duration": 10
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "gemini-omni-i2v",
                "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "aspect_ratio": "16:9",
                "resolution": "720p",
                "duration": 10
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
