openapi: 3.1.0
info:
  title: GPT Image 2 Lite API
  version: 1.0.0
  description: GPT Image 2 Lite 是 APIPod 面向低成本通道提供的 GPT Image 2 路由版本，并非独立的 OpenAI
    模型；它沿用统一的图片生成与编辑契约。在 APIPod 中，公开模型 ID 为
    gpt-image-2-lite，支持文生图、图片生成与编辑；接受文本、图片输入，并通过异步图片任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/images/generations:
    post:
      summary: 创建生成任务
      description: GPT Image 2 Lite 是 APIPod 面向低成本通道提供的 GPT Image 2 路由版本，并非独立的 OpenAI
        模型；它沿用统一的图片生成与编辑契约。在 APIPod 中，公开模型 ID 为
        gpt-image-2-lite，支持文生图、图片生成与编辑；接受文本、图片输入，并通过异步图片任务返回结果。
      operationId: create-gpt-image-2-gpt-image-2-lite
      tags:
        - GPT Image 2 Lite
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: GPT Image 2 Lite
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: gpt-image-2-lite
                prompt:
                  type: string
                  title: Prompt
                  description: 生成或编辑指令。 最大字符串长度：32000。
                  default: 充满活力的特写编辑肖像，模特眼神犀利，头戴雕塑感帽子(有一个 APIPod.ai 的 LOGO
                    在帽子上)，色彩拼接丰富，眼部焦点锐利，景深较浅，具有Vogue杂志封面的美学风格，采用中画幅拍摄，工作室灯光效果强烈。
                image_urls:
                  type: array
                  title: Image Urls
                  description: 参考图片。
                  items:
                    type: string
                resolution:
                  type: string
                  title: Resolution
                  description: 输出分辨率档位。
                  enum:
                    - 1K
                    - 2K
                    - 4K
                  default: 1K
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  enum:
                    - auto
                    - 1:1
                    - 2:3
                    - 3:2
                    - 3:4
                    - 4:3
                    - 4:5
                    - 5:4
                    - 9:16
                    - 16:9
                    - 21:9
                  default: auto
                  description: 输出宽高比。
              required:
                - model
                - prompt
            example:
              model: gpt-image-2-lite
              prompt: 充满活力的特写编辑肖像，模特眼神犀利，头戴雕塑感帽子(有一个 APIPod.ai 的 LOGO
                在帽子上)，色彩拼接丰富，眼部焦点锐利，景深较浅，具有Vogue杂志封面的美学风格，采用中画幅拍摄，工作室灯光效果强烈。
              resolution: 1K
              aspect_ratio: auto
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 响应数据。
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                  message:
                    type: string
                    description: 响应消息。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "gpt-image-2-lite",
              "prompt": "充满活力的特写编辑肖像，模特眼神犀利，头戴雕塑感帽子(有一个 APIPod.ai 的 LOGO 在帽子上)，色彩拼接丰富，眼部焦点锐利，景深较浅，具有Vogue杂志封面的美学风格，采用中画幅拍摄，工作室灯光效果强烈。",
              "resolution": "1K",
              "aspect_ratio": "auto"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "gpt-image-2-lite",
              "prompt": "充满活力的特写编辑肖像，模特眼神犀利，头戴雕塑感帽子(有一个 APIPod.ai 的 LOGO 在帽子上)，色彩拼接丰富，眼部焦点锐利，景深较浅，具有Vogue杂志封面的美学风格，采用中画幅拍摄，工作室灯光效果强烈。",
              "resolution": "1K",
              "aspect_ratio": "auto"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "gpt-image-2-lite",
              "prompt": "充满活力的特写编辑肖像，模特眼神犀利，头戴雕塑感帽子(有一个 APIPod.ai 的 LOGO 在帽子上)，色彩拼接丰富，眼部焦点锐利，景深较浅，具有Vogue杂志封面的美学风格，采用中画幅拍摄，工作室灯光效果强烈。",
              "resolution": "1K",
              "aspect_ratio": "auto"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "gpt-image-2-lite",
              "prompt": "充满活力的特写编辑肖像，模特眼神犀利，头戴雕塑感帽子(有一个 APIPod.ai 的 LOGO 在帽子上)，色彩拼接丰富，眼部焦点锐利，景深较浅，具有Vogue杂志封面的美学风格，采用中画幅拍摄，工作室灯光效果强烈。",
              "resolution": "1K",
              "aspect_ratio": "auto"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "gpt-image-2-lite",
                "prompt": "充满活力的特写编辑肖像，模特眼神犀利，头戴雕塑感帽子(有一个 APIPod.ai 的 LOGO 在帽子上)，色彩拼接丰富，眼部焦点锐利，景深较浅，具有Vogue杂志封面的美学风格，采用中画幅拍摄，工作室灯光效果强烈。",
                "resolution": "1K",
                "aspect_ratio": "auto"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
