openapi: 3.1.0
info:
  title: GPT Image 2 Fast API
  version: 1.0.0
  description: GPT Image 2 Fast 是 APIPod 面向低延迟通道提供的 GPT Image 2 路由版本，并非独立的 OpenAI
    模型；它沿用统一的图片生成与编辑请求结构。在 APIPod 中，公开模型 ID 为
    gpt-image-2-fast，支持文生图、图片生成与编辑；接受文本、图片输入，并通过异步图片任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/images/generations:
    post:
      summary: 创建生成任务
      description: GPT Image 2 Fast 是 APIPod 面向低延迟通道提供的 GPT Image 2 路由版本，并非独立的 OpenAI
        模型；它沿用统一的图片生成与编辑请求结构。在 APIPod 中，公开模型 ID 为
        gpt-image-2-fast，支持文生图、图片生成与编辑；接受文本、图片输入，并通过异步图片任务返回结果。
      operationId: create-gpt-image-2-gpt-image-2-fast
      tags:
        - GPT Image 2 Fast
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: APIPod 公开模型 ID。
                  const: gpt-image-2-fast
                prompt:
                  type: string
                  description: 描述要生成的图片或要执行的编辑。 最大字符串长度：4000。
                image_urls:
                  type: array
                  items:
                    type: string
                  description: 可公开访问的参考图片；主模型同时支持图片生成和编辑。 最多项目数：6。
                aspect_ratio:
                  type: string
                  description: 输出宽高比。
                  default: auto
                  enum:
                    - auto
                    - 1:1
                    - 1:2
                    - 1:3
                    - 2:1
                    - 2:3
                    - 3:1
                    - 3:2
                    - 3:4
                    - 4:3
                    - 4:5
                    - 5:4
                    - 16:9
                    - 9:16
                    - 21:9
                    - 9:21
                resolution:
                  type: string
                  description: 输出分辨率档位。
                  enum:
                    - 1K
                    - 2K
                    - 4K
                quality:
                  type: string
                  description: 渲染质量；gpt-image-2 未提供 resolution 时仍兼容旧版 1K、2K、4K 值。
                  default: auto
                  enum:
                    - auto
                    - low
                    - medium
                    - high
                output_format:
                  type: string
                  description: 输出图片格式。
                  enum:
                    - png
                    - jpeg
                    - webp
                output_compression:
                  type: integer
                  description: 支持压缩的输出格式所使用的压缩百分比。 最小值：0。 最大值：100。
                background:
                  type: string
                  description: 背景处理方式。
                  enum:
                    - auto
                    - opaque
              required:
                - model
                - prompt
            example:
              model: gpt-image-2-fast
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              aspect_ratio: 16:9
              resolution: 2K
              quality: auto
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                    const: 200
                  message:
                    type: string
                    description: 响应消息。
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                    required:
                      - task_id
                    description: 响应数据。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "gpt-image-2-fast",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "16:9",
              "resolution": "2K",
              "quality": "auto"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "gpt-image-2-fast",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "16:9",
              "resolution": "2K",
              "quality": "auto"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "gpt-image-2-fast",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "16:9",
              "resolution": "2K",
              "quality": "auto"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "gpt-image-2-fast",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "16:9",
              "resolution": "2K",
              "quality": "auto"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "gpt-image-2-fast",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "aspect_ratio": "16:9",
                "resolution": "2K",
                "quality": "auto"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
