openapi: 3.1.0
info:
  title: GPT Image 2.5 Flare Lite API
  version: 1.0.0
  description: GPT Image 2.5 Flare Lite is APIPod's cost-oriented routing variant
    for GPT Image 2.5 Flare rather than a separate OpenAI model. It uses the
    shared generation and editing contract with lower-cost configured channels,
    suited to high-volume batch generation on a budget. In APIPod, the public
    model ID is gpt-image-2.5-flare-lite. It supports text-to-image and image
    generation and editing, accepts text and image inputs, and returns results
    through asynchronous image tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/images/generations:
    post:
      summary: Create Generation Task
      description: GPT Image 2.5 Flare Lite is APIPod's cost-oriented routing variant
        for GPT Image 2.5 Flare rather than a separate OpenAI model. It uses the
        shared generation and editing contract with lower-cost configured
        channels, suited to high-volume batch generation on a budget. In APIPod,
        the public model ID is gpt-image-2.5-flare-lite. It supports
        text-to-image and image generation and editing, accepts text and image
        inputs, and returns results through asynchronous image tasks.
      operationId: create-gpt-image-2.5-gpt-image-2.5-flare-lite
      tags:
        - GPT Image 2.5 Flare Lite
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: GPT Image 2.5 Flare Lite
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: gpt-image-2.5-flare-lite
                prompt:
                  type: string
                  title: Prompt
                  maxLength: 32000
                  description: Used to describe the generated images.
                image_urls:
                  type: array
                  title: Image Urls
                  items:
                    type: string
                background:
                  enum:
                    - auto
                    - opaque
                    - transparent
                  type: string
                  title: Background
                  default: auto
                  description: Background mode of the generated image. transparent renders an
                    alpha-channel PNG and requires quality to be medium or high.
                quality:
                  enum:
                    - auto
                    - low
                    - medium
                    - high
                    - xhigh
                    - max
                  type: string
                  title: Quality
                  default: auto
                  description: Output quality tier. xhigh and max are GPT Image 2.5-only tiers.
                    Must be at least medium when background is transparent.
                aspect_ratio:
                  enum:
                    - auto
                    - 1:1
                    - 2:3
                    - 3:2
                    - 3:4
                    - 4:3
                    - 4:5
                    - 5:4
                    - 9:16
                    - 16:9
                    - 21:9
                  type: string
                  title: Aspect Ratio
                  default: auto
                  description: This parameter defines the aspect ratio of the image.
                resolution:
                  enum:
                    - 1K
                    - 2K
                    - 4K
                  type: string
                  title: Resolution
                  default: 1K
                  description: The resolution of the generated images.
            example:
              model: gpt-image-2.5-flare-lite
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              quality: auto
              aspect_ratio: auto
              resolution: 1K
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                required:
                  - code
                  - message
                  - data
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                    description: Data content for task submission
                  message:
                    type: string
                description: Standard response for task submission
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "gpt-image-2.5-flare-lite",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "quality": "auto",
              "aspect_ratio": "auto",
              "resolution": "1K"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "gpt-image-2.5-flare-lite",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "quality": "auto",
              "aspect_ratio": "auto",
              "resolution": "1K"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "gpt-image-2.5-flare-lite",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "quality": "auto",
              "aspect_ratio": "auto",
              "resolution": "1K"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "gpt-image-2.5-flare-lite",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "quality": "auto",
              "aspect_ratio": "auto",
              "resolution": "1K"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "gpt-image-2.5-flare-lite",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "quality": "auto",
                "aspect_ratio": "auto",
                "resolution": "1K"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
