openapi: 3.1.0
info:
  title: Grok Imagine Text to Video API
  version: 1.0.0
  description: Grok Imagine is a text-to-video route in xAI's Grok Imagine video
    family, intended for short clips with coherent motion and synchronized
    audio. In APIPod, the public model ID is grok-imagine-t2v. It supports
    text-to-video, accepts text inputs, and returns results through asynchronous
    video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Grok Imagine is a text-to-video route in xAI's Grok Imagine video
        family, intended for short clips with coherent motion and synchronized
        audio. In APIPod, the public model ID is grok-imagine-t2v. It supports
        text-to-video, accepts text inputs, and returns results through
        asynchronous video tasks.
      operationId: create-grok-imagine-grok-imagine-t2v
      tags:
        - Grok Imagine Text to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Public APIPod model ID.
                  const: grok-imagine-t2v
                prompt:
                  type: string
                  description: Describe the motion, scene, and camera behavior.
                  maxLength: 4000
                image_url:
                  type: string
                  description: Single source image.
                image_urls:
                  type: array
                  items:
                    type: string
                  description: Source or reference images.
                  maxItems: 7
                task_id:
                  type: string
                  description: Prior APIPod task ID to reuse as the source instead of image URLs.
                index:
                  type: integer
                  description: Result index from task_id, from 0 through 5.
                  minimum: 0
                  maximum: 5
                aspect_ratio:
                  type: string
                  description: Video aspect ratio.
                  default: 16:9
                  enum:
                    - 16:9
                    - 9:16
                    - 1:1
                    - 3:2
                    - 2:3
                duration:
                  type: integer
                  description: Clip duration in seconds.
                  default: 6
                  minimum: 1
                  maximum: 30
                resolution:
                  type: string
                  description: Output resolution.
                  default: 720p
                  enum:
                    - 480p
                    - 720p
                mode:
                  type: string
                  description: Generation mode for the base Grok Imagine models.
                  enum:
                    - normal
                    - fun
                    - spicy
              required:
                - model
                - prompt
            example:
              model: grok-imagine-t2v
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              aspect_ratio: 16:9
              duration: 6
              resolution: 720p
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    const: 200
                  message:
                    type: string
                    description: Response message.
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: Public APIPod task ID used for status queries.
                    required:
                      - task_id
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "grok-imagine-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "duration": 6,
              "resolution": "720p"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "grok-imagine-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "duration": 6,
              "resolution": "720p"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "grok-imagine-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "duration": 6,
              "resolution": "720p"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "grok-imagine-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "duration": 6,
              "resolution": "720p"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "grok-imagine-t2v",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "aspect_ratio": "16:9",
                "duration": 6,
                "resolution": "720p"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
