openapi: 3.1.0
info:
  title: MiniMax H3 API
  version: 1.0.0
  description: "MiniMax H3 is the all-in-one model of MiniMax's multimodal H3 video family: one public model ID covers every scenario. Prompt-only requests are text-to-video, 1-2 images in image_urls are image-to-video with first/last frame control, and the role field set to reference_images, any reference video, or audio selects reference generation. In APIPod, the public model ID is minimax-h3. It accepts up to 9 reference images, 3 videos, and 3 audios, outputs 768P or 2K for 4-15 seconds, and returns results through asynchronous video tasks. Text-to-video requests require an explicit aspect_ratio."
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: "MiniMax H3 is the all-in-one model of MiniMax's multimodal H3 video family: one public model ID covers every scenario. Prompt-only requests are text-to-video, 1-2 images in image_urls are image-to-video with first/last frame control, and the role field set to reference_images, any reference video, or audio selects reference generation. In APIPod, the public model ID is minimax-h3. It accepts up to 9 reference images, 3 videos, and 3 audios, outputs 768P or 2K for 4-15 seconds, and returns results through asynchronous video tasks. Text-to-video requests require an explicit aspect_ratio."
      operationId: create-minimax-h3-minimax-h3
      tags:
        - MiniMax H3
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: MiniMax H3
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: minimax-h3
                prompt:
                  type: string
                  title: Prompt
                  description: Generation instructions. Required for every scenario, up to 7000 characters.
                  minLength: 1
                  maxLength: 7000
                image_urls:
                  type: array
                  title: Image Urls
                  description: "Image URLs. Scenario inference applies: when images are the only media input and 1-2 URLs are provided they are treated as first/last frames (image-to-video); with other reference media present or more than 2 URLs, all images are treated as reference images. Pair with the role field to pin the semantics explicitly. Up to 9 images are supported."
                  maxItems: 9
                  items:
                    type: string
                role:
                  type: string
                  title: Role
                  description: "Explicit interpretation of image_urls. reference_images: all images are treated as reference images regardless of count. first_last_frame: images are treated as the first frame plus an optional last frame (max 2; cannot be combined with reference videos or audios). When omitted, the scenario is inferred from the materials."
                  enum:
                    - reference_images
                    - first_last_frame
                video_urls:
                  type: array
                  title: Reference Videos
                  description: Reference videos. Audio cannot be used alone; at least one reference image or one reference video is required.
                  maxItems: 3
                  items:
                    type: string
                audio_urls:
                  type: array
                  title: Reference Audio
                  description: Audio cannot be used alone; at least one reference image or one reference video is required.
                  maxItems: 3
                  items:
                    type: string
                resolution:
                  type: string
                  title: Resolution
                  description: "Video resolution. Available values: 768P and 2K."
                  enum:
                    - 768P
                    - 2K
                  default: 2K
                duration:
                  type: integer
                  title: Duration
                  description: "Duration of the generated video in seconds. Available values: 4-15."
                  default: 4
                  minimum: 4
                  maximum: 15
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: Aspect ratio of the generated video. Defaults to adaptive; required and cannot be adaptive for the text-to-video scenario.
                  enum:
                    - adaptive
                    - 21:9
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                  default: adaptive
              required:
                - model
                - prompt
                - duration
            example:
              model: minimax-h3
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              video_urls:
                - https://cdn.example.com/reference.mp4
              resolution: 2K
              duration: 4
              aspect_ratio: adaptive
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "minimax-h3",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "resolution": "2K",
              "duration": 4,
              "aspect_ratio": "adaptive"
            }'
        - lang: Python
          label: Python
          source: |-
            import os

            import requests


            payload = {
              "model": "minimax-h3",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "resolution": "2K",
              "duration": 4,
              "aspect_ratio": "adaptive"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
