openapi: 3.1.0
info:
  title: MiniMax H3 API
  version: 1.0.0
  description: MiniMax H3 是 MiniMax 多模态 H3 视频系列的 all-in-one 模型：一个公开模型 ID 覆盖全部场景。只传提示词即文生视频，image_urls 传 1-2 张图即图生视频（首帧/首尾帧），role=reference_images、参考视频或参考音频即参考生视频。在 APIPod 中，公开模型 ID 为 minimax-h3，参考素材上限为图 9 / 视频 3 / 音频 3，输出 768P 或 2K、时长 4-15 秒，通过异步视频任务返回结果。文生视频场景必须显式传 aspect_ratio。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: MiniMax H3 是 MiniMax 多模态 H3 视频系列的 all-in-one 模型：一个公开模型 ID 覆盖全部场景。只传提示词即文生视频，image_urls 传 1-2 张图即图生视频（首帧/首尾帧），role=reference_images、参考视频或参考音频即参考生视频。在 APIPod 中，公开模型 ID 为 minimax-h3，参考素材上限为图 9 / 视频 3 / 音频 3，输出 768P 或 2K、时长 4-15 秒，通过异步视频任务返回结果。文生视频场景必须显式传 aspect_ratio。
      operationId: create-minimax-h3-minimax-h3
      tags:
        - MiniMax H3
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: MiniMax H3
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: minimax-h3
                prompt:
                  type: string
                  title: Prompt
                  description: 生成指令，所有场景必填，最长 7000 字符。
                  minLength: 1
                  maxLength: 7000
                image_urls:
                  type: array
                  title: Image Urls
                  description: 图片 URL。场景按素材自动推断：仅传 1-2 张图时视为首尾帧（图生视频）；携带其他参考素材或超过 2 张时全部按参考图处理。可配合 role 字段显式指定语义。最多 9 张。
                  maxItems: 9
                  items:
                    type: string
                role:
                  type: string
                  title: Role
                  description: image_urls 的显式语义标注。reference_images：无论张数全部按参考图处理；first_last_frame：首帧 + 可选尾帧（最多 2 张，不能与参考视频或音频同用）；缺省时按素材推断场景。
                  enum:
                    - reference_images
                    - first_last_frame
                video_urls:
                  type: array
                  title: Reference Videos
                  description: 参考视频，最多 3 个；音频不能单独使用，需至少携带一张参考图或一个参考视频。
                  maxItems: 3
                  items:
                    type: string
                audio_urls:
                  type: array
                  title: Reference Audio
                  description: 参考音频，最多 3 段；音频不能单独使用，需至少携带一张参考图或一个参考视频。
                  maxItems: 3
                  items:
                    type: string
                resolution:
                  type: string
                  title: Resolution
                  description: 视频分辨率，可选 768P 与 2K。
                  enum:
                    - 768P
                    - 2K
                  default: 2K
                duration:
                  type: integer
                  title: Duration
                  description: 生成视频时长（秒），取值 4-15。
                  default: 4
                  minimum: 4
                  maximum: 15
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: 生成视频画幅，默认 adaptive；文生视频场景必填且不能为 adaptive。
                  enum:
                    - adaptive
                    - 21:9
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                  default: adaptive
              required:
                - model
                - prompt
                - duration
            example:
              model: minimax-h3
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              video_urls:
                - https://cdn.example.com/reference.mp4
              resolution: 2K
              duration: 4
              aspect_ratio: adaptive
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 响应数据。
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                  message:
                    type: string
                    description: 响应消息。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "minimax-h3",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "resolution": "2K",
              "duration": 4,
              "aspect_ratio": "adaptive"
            }'
        - lang: Python
          label: Python
          source: |-
            import os

            import requests


            payload = {
              "model": "minimax-h3",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "resolution": "2K",
              "duration": 4,
              "aspect_ratio": "adaptive"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
