openapi: 3.1.0
info:
  title: MiniMax H3 Image to Video API
  version: 1.0.0
  description: MiniMax H3 Image to Video is a dedicated mode in MiniMax's
    multimodal H3 video family that uses a required first frame and an optional
    last frame. APIPod currently exposes a 768P or 2K, 4-to-15-second
    asynchronous contract for this family. In APIPod, the public model ID is
    minimax-h3-i2v. It supports image-to-video, accepts text, video and image
    inputs, and returns results through asynchronous video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: MiniMax H3 Image to Video is a dedicated mode in MiniMax's
        multimodal H3 video family that uses a required first frame and an
        optional last frame. APIPod currently exposes a 768P or 2K,
        4-to-15-second asynchronous contract for this family. In APIPod, the
        public model ID is minimax-h3-i2v. It supports image-to-video, accepts
        text, video and image inputs, and returns results through asynchronous
        video tasks.
      operationId: create-minimax-h3-minimax-h3-i2v
      tags:
        - MiniMax H3 Image to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: MiniMax H3 Image to Video
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: minimax-h3-i2v
                prompt:
                  type: string
                  title: Prompt
                  default: ""
                  minLength: 1
                  maxLength: 7000
                first_frame_image:
                  type: string
                  title: First Frame Image
                  default: ""
                last_frame_image:
                  type: string
                  title: Last Frame Image
                  default: ""
                duration:
                  type: integer
                  title: Duration
                  description: "Duration of the generated video in seconds. Available values:
                    4-15."
                  default: 0
                  minimum: 4
                  maximum: 15
                resolution:
                  type: string
                  title: Resolution
                  description: "Video resolution. Available values: 768P and 2K."
                  enum:
                    - 768P
                    - 2K
                  default: 2K
              required:
                - model
                - prompt
                - duration
                - resolution
            example:
              model: minimax-h3-i2v
              prompt: Animate the subject with a slow camera push-in, natural motion, and soft
                cinematic lighting.
              duration: 0
              resolution: 2K
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "minimax-h3-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "duration": 0,
              "resolution": "2K"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "minimax-h3-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "duration": 0,
              "resolution": "2K"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "minimax-h3-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "duration": 0,
              "resolution": "2K"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "minimax-h3-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "duration": 0,
              "resolution": "2K"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "minimax-h3-i2v",
                "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
                "duration": 0,
                "resolution": "2K"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
