openapi: 3.1.0
info:
  title: Motion Control M1 API
  version: 1.0.0
  description: Motion Control M1 将参考视频中的动作与节奏迁移到参考图片中的主体，生成新的异步视频结果。在 APIPod
    中，公开模型 ID 为 motion-control-m1，支持视频到视频；接受图片、视频输入，并通过异步视频任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: Motion Control M1 将参考视频中的动作与节奏迁移到参考图片中的主体，生成新的异步视频结果。在 APIPod
        中，公开模型 ID 为 motion-control-m1，支持视频到视频；接受图片、视频输入，并通过异步视频任务返回结果。
      operationId: create-motion-control-motion-control-m1
      tags:
        - Motion Control M1
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: APIPod 公开模型 ID。
                  const: motion-control-m1
                prompt:
                  type: string
                  description: 生成或编辑指令。 最大字符串长度：2500。
                image_url:
                  type: string
                  description: 可公开访问的源图片 URL。
                video_url:
                  type: string
                  description: 可公开访问的源视频 URL。
                character_orientation:
                  type: string
                  description: 人物朝向参考来源。
                  enum:
                    - image
                    - video
                  default: image
                keep_original_sound:
                  type: boolean
                  description: 保留参考视频的原始音频。
                  default: true
                quality:
                  type: string
                  description: 输出质量或图片分辨率档位。
                  enum:
                    - std
                    - pro
                  default: std
              required:
                - model
                - prompt
                - image_url
                - video_url
            example:
              model: motion-control-m1
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              image_url: https://cdn.example.com/reference.jpg
              video_url: https://cdn.example.com/source.mp4
              quality: std
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                    const: 200
                  message:
                    type: string
                    description: 响应消息。
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                    required:
                      - task_id
                    description: 响应数据。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "motion-control-m1",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_url": "https://cdn.example.com/reference.jpg",
              "video_url": "https://cdn.example.com/source.mp4",
              "quality": "std"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "motion-control-m1",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_url": "https://cdn.example.com/reference.jpg",
              "video_url": "https://cdn.example.com/source.mp4",
              "quality": "std"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "motion-control-m1",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_url": "https://cdn.example.com/reference.jpg",
              "video_url": "https://cdn.example.com/source.mp4",
              "quality": "std"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "motion-control-m1",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_url": "https://cdn.example.com/reference.jpg",
              "video_url": "https://cdn.example.com/source.mp4",
              "quality": "std"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "motion-control-m1",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "image_url": "https://cdn.example.com/reference.jpg",
                "video_url": "https://cdn.example.com/source.mp4",
                "quality": "std"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
