openapi: 3.1.0
info:
  title: Nano Banana 2 API
  version: 1.0.0
  description: Nano Banana 2 is Google's general-purpose Gemini image generation
    and editing model, balancing fast generation with instruction following,
    text rendering, and subject consistency across reference images. In APIPod,
    the public model ID is nano-banana-2. It supports text-to-image and image
    generation and editing, accepts text and image inputs, and returns results
    through asynchronous image tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/images/generations:
    post:
      summary: Create Generation Task
      description: Nano Banana 2 is Google's general-purpose Gemini image generation
        and editing model, balancing fast generation with instruction following,
        text rendering, and subject consistency across reference images. In
        APIPod, the public model ID is nano-banana-2. It supports text-to-image
        and image generation and editing, accepts text and image inputs, and
        returns results through asynchronous image tasks.
      operationId: create-nano-banana-nano-banana-2
      tags:
        - Nano Banana 2
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Public APIPod model ID.
                  const: nano-banana-2
                prompt:
                  type: string
                  description: Describe the image to create or the edit to apply.
                  maxLength: 4000
                image_urls:
                  type: array
                  items:
                    type: string
                  description: Reference images for editing, composition, or subject consistency.
                  maxItems: 14
                aspect_ratio:
                  type: string
                  description: Output aspect ratio.
                  default: auto
                  enum:
                    - auto
                    - 1:1
                    - 1:4
                    - 1:8
                    - 2:3
                    - 3:2
                    - 3:4
                    - 4:1
                    - 4:3
                    - 4:5
                    - 5:4
                    - 8:1
                    - 16:9
                    - 9:16
                    - 21:9
                quality:
                  type: string
                  description: Output resolution tier.
                  default: 1K
                  enum:
                    - 512px
                    - 1K
                    - 2K
                    - 4K
                resolution:
                  type: string
                  description: Alias for the output resolution tier.
                  enum:
                    - "512"
                    - 512px
                    - 1K
                    - 2K
                    - 4K
                google_search:
                  type: boolean
                  description: Allow the model to use Google Search grounding when the selected
                    channel supports it.
                  default: false
                callback_url:
                  type: string
                  description: HTTPS endpoint that receives task completion notifications.
              required:
                - model
                - prompt
            example:
              model: nano-banana-2
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              aspect_ratio: 16:9
              quality: 1K
              resolution: 2K
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    const: 200
                  message:
                    type: string
                    description: Response message.
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: Public APIPod task ID used for status queries.
                    required:
                      - task_id
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "nano-banana-2",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "16:9",
              "quality": "1K",
              "resolution": "2K"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "nano-banana-2",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "16:9",
              "quality": "1K",
              "resolution": "2K"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "nano-banana-2",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "16:9",
              "quality": "1K",
              "resolution": "2K"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "nano-banana-2",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "16:9",
              "quality": "1K",
              "resolution": "2K"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "nano-banana-2",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "aspect_ratio": "16:9",
                "quality": "1K",
                "resolution": "2K"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
