openapi: 3.1.0
info:
  title: Query Image Task API
  version: 1.0.0
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/images/status/{task_id}:
    get:
      summary: Get Generation Task
      operationId: get-query-image-task
      tags:
        - Image tasks
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          description: APIPod asynchronous task ID returned by the create endpoint.
          schema:
            type: string
          example: img_task_01JEXAMPLE
      responses:
        "200":
          description: Task status
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    const: 200
                  message:
                    type: string
                    description: Response message.
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: Public APIPod task ID.
                      status:
                        type: string
                        description: Public task status.
                        enum:
                          - pending
                          - processing
                          - completed
                          - failed
                          - cancelled
                      progress:
                        type: integer
                        description: Completion progress when available.
                        minimum: 0
                        maximum: 100
                      result:
                        type: array
                        items:
                          type: string
                        description: Generated artifact URLs returned after completion.
                      images:
                        type: array
                        description: Images with per-image metadata, in the same order as result.
                          Present only for models that return metadata, such as
                          layer decomposition (seedream-5.0-pro-layer /
                          seedream-5.0-flash-layer).
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              description: Same URL as the item at the same position in result.
                            z_index:
                              type: integer
                              description: Stacking order; 0 is the base image.
                            bounding_box:
                              type: object
                              properties:
                                absolute:
                                  type: array
                                  items:
                                    type: integer
                                  minItems: 4
                                  maxItems: 4
                                  description: Pixel coordinates [x1, y1, x2, y2].
                                normalized:
                                  type: array
                                  items:
                                    type: integer
                                  minItems: 4
                                  maxItems: 4
                                  description: 0-1000 normalized coordinates [x1, y1, x2, y2].
                              required: []
                              description: Layer position on the base image.
                            name:
                              type: string
                              description: Layer name generated by the model.
                            description:
                              type: string
                              description: Description of the layer content.
                          required:
                            - url
                      completed_at:
                        type: integer
                        description: Unix completion timestamp in seconds.
                      error_code:
                        type: string
                        description: Stable machine-readable asynchronous error code.
                      error_message:
                        type: string
                        description: Client-safe asynchronous error message.
                      usage:
                        type: object
                        properties:
                          prompt_tokens:
                            type: integer
                            description: Prompt token count, present only when the upstream provider reports
                              token usage.
                          completion_tokens:
                            type: integer
                            description: Completion token count, present only when the upstream provider
                              reports token usage.
                          total_tokens:
                            type: integer
                            description: Total token count, present only when the upstream provider reports
                              token usage.
                          cost:
                            type: number
                            description: Final amount charged for this task, in USD.
                        required:
                          - cost
                        description: Final usage snapshot for this task; present only when status is
                          completed.
                    required:
                      - task_id
                      - status
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
                  status: completed
                  progress: 100
                  result:
                    - https://cdn.example.com/generated.png
                  completed_at: 1786358400
                  usage:
                    completion_tokens: 123
                    total_tokens: 456
                    cost: 0.053
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
