openapi: 3.1.0
info:
  title: 查询图片任务 API
  version: 1.0.0
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/images/status/{task_id}:
    get:
      summary: 查询生成任务
      operationId: get-query-image-task
      tags:
        - 图片任务
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          description: 创建接口返回的 APIPod 异步任务 ID。
          schema:
            type: string
          example: img_task_01JEXAMPLE
      responses:
        "200":
          description: 任务状态
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                    const: 200
                  message:
                    type: string
                    description: 响应消息。
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                      status:
                        type: string
                        description: 任务当前状态。
                        enum:
                          - pending
                          - processing
                          - completed
                          - failed
                          - cancelled
                      progress:
                        type: integer
                        description: 任务完成进度（提供商返回时可用）。 最小值：0。 最大值：100。
                      result:
                        type: array
                        items:
                          type: string
                        description: 任务完成后返回的生成结果 URL 列表。
                      images:
                        type: array
                        description: 带逐图元数据的结果图片，与 result 顺序一致。仅返回元数据的模型（如图层拆分 seedream-5.0-pro-layer / seedream-5.0-flash-layer）才会出现。
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              description: 与 result 中同一位置的 URL 相同。
                            z_index:
                              type: integer
                              description: 图层叠放顺序，0 为底图。
                            bounding_box:
                              type: object
                              description: 图层在底图上的位置。
                              properties:
                                absolute:
                                  type: array
                                  items:
                                    type: integer
                                  minItems: 4
                                  maxItems: 4
                                  description: 像素坐标 [x1, y1, x2, y2]。
                                normalized:
                                  type: array
                                  items:
                                    type: integer
                                  minItems: 4
                                  maxItems: 4
                                  description: 0-1000 归一化坐标 [x1, y1, x2, y2]。
                            name:
                              type: string
                              description: 模型给出的图层名称。
                            description:
                              type: string
                              description: 图层内容描述。
                          required:
                            - url
                      completed_at:
                        type: integer
                        description: 任务完成时间，Unix 秒级时间戳。
                      error_code:
                        type: string
                        description: 稳定、可供程序识别的异步错误代码。
                      error_message:
                        type: string
                        description: 可安全返回给客户端的异步错误信息。
                      usage:
                        type: object
                        description: 任务终态用量快照，仅在 status 为 completed 时返回。
                        properties:
                          prompt_tokens:
                            type: integer
                            description: 输入 token 数，仅在上游上报 token 用量时返回。
                          completion_tokens:
                            type: integer
                            description: 输出 token 数，仅在上游上报 token 用量时返回。
                          total_tokens:
                            type: integer
                            description: 总 token 数，仅在上游上报 token 用量时返回。
                          cost:
                            type: number
                            description: 本任务最终实际扣费金额，单位美元。
                        required:
                          - cost
                    required:
                      - task_id
                      - status
                    description: 响应数据。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
                  status: completed
                  progress: 100
                  result:
                    - https://cdn.example.com/generated.png
                  completed_at: 1786358400
                  usage:
                    completion_tokens: 123
                    total_tokens: 456
                    cost: 0.053
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
