openapi: 3.1.0
info:
  title: Seedream 5.0 Lite Text to Image API
  version: 1.0.0
  description: Seedream 5.0 Lite is APIPod's efficiency-oriented text-to-image
    route in the Seedream 5 family, intended for prompt-driven generation with
    flexible high-resolution output. In APIPod, the public model ID is
    seedream-5.0-lite. It supports text-to-image, accepts text inputs, and
    returns results through asynchronous image tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/images/generations:
    post:
      summary: Create Generation Task
      description: Seedream 5.0 Lite is APIPod's efficiency-oriented text-to-image
        route in the Seedream 5 family, intended for prompt-driven generation
        with flexible high-resolution output. In APIPod, the public model ID is
        seedream-5.0-lite. It supports text-to-image, accepts text inputs, and
        returns results through asynchronous image tasks.
      operationId: create-seedream-5-0-lite-text-to-image
      tags:
        - Seedream 5.0 Lite Text to Image
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedream 5.0 Lite
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: seedream-5.0-lite
                prompt:
                  type: string
                  title: Prompt
                  description: Describe the content of the image to be generated.
                  default: ""
                  maxLength: 2000
                quality:
                  type: string
                  title: Quality
                  description: Output image resolution.
                  enum:
                    - 2K
                    - 3K
                  default: 2K
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: The generated image's width and height aspect ratio.
                  enum:
                    - 1:1
                    - 2:3
                    - 3:2
                    - 3:4
                    - 4:3
                    - 16:9
                    - 9:16
                    - 21:9
                  default: 1:1
              required:
                - model
                - prompt
            example:
              model: seedream-5.0-lite
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              quality: 2K
              aspect_ratio: 1:1
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedream-5.0-lite",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "quality": "2K",
              "aspect_ratio": "1:1"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedream-5.0-lite",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "quality": "2K",
              "aspect_ratio": "1:1"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedream-5.0-lite",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "quality": "2K",
              "aspect_ratio": "1:1"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedream-5.0-lite",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "quality": "2K",
              "aspect_ratio": "1:1"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedream-5.0-lite",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "quality": "2K",
                "aspect_ratio": "1:1"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
