openapi: 3.1.0
info:
  title: Seedance 2.0 Mini API
  version: 1.0.0
  description: "Seedance 2.0 Mini is the all-in-one model of the Mini tier: one public model ID covers every scenario at the lowest price. Prompt-only requests are text-to-video, 1-2 images in image_urls are image-to-video with first/last frame control, and the role field set to reference_images, any reference video, or any reference audio selects omni reference generation, with synchronized audio and 480p / 720p output. In APIPod, the public model ID is seedance-2.0-mini. It accepts up to 9 reference images, 3 reference videos, and 3 reference audios, with durations from 4 to 15 seconds, and returns results through asynchronous video tasks. This is a full-capability variant where media URLs are submitted to the asset review service before the task is created, and plain public URLs always work in requests."
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: "Seedance 2.0 Mini is the all-in-one model of the Mini tier: one public model ID covers every scenario at the lowest price. Prompt-only requests are text-to-video, 1-2 images in image_urls are image-to-video with first/last frame control, and the role field set to reference_images, any reference video, or any reference audio selects omni reference generation, with synchronized audio and 480p / 720p output. In APIPod, the public model ID is seedance-2.0-mini. It accepts up to 9 reference images, 3 reference videos, and 3 reference audios, with durations from 4 to 15 seconds, and returns results through asynchronous video tasks. This is a full-capability variant where media URLs are submitted to the asset review service before the task is created, and plain public URLs always work in requests."
      operationId: create-seedance-2-0-mini
      tags:
        - Seedance 2.0 Mini
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedance 2.0 Mini
              properties:
                model:
                  type: string
                  title: Model ID
                  description: "Public APIPod model ID."
                  const: seedance-2.0-mini
                prompt:
                  type: string
                  title: Prompt
                  description: "Generation or editing instructions, up to 30000 characters. It is recommended to keep the prompt to no more than 500 Chinese characters or 1,000 English words. Lengthy text will lead to scattered information, and the model may ignore details and only focus on key points, resulting in missing elements in the generated video."
                  maxLength: 30000
                image_urls:
                  type: array
                  title: Image Urls
                  description: "Image URLs. Scenario inference applies: when images are the only media input and 1-2 URLs are provided they are treated as first/last frames (image-to-video); with other reference media present or more than 2 URLs, all images are treated as reference images. Pair with the role field to pin the semantics explicitly. Up to 9 images are supported; each image must be smaller than 30 MB."
                  maxItems: 9
                  items:
                    type: string
                role:
                  type: string
                  title: Role
                  description: "Explicit interpretation of image_urls. reference_images: all images are treated as reference images regardless of count. first_last_frame: images are treated as the first frame plus an optional last frame (max 2; cannot be combined with reference videos or audios). When omitted, the scenario is inferred from the materials."
                  enum:
                    - reference_images
                    - first_last_frame
                video_urls:
                  type: array
                  title: Video Urls
                  description: "Reference video URLs. Up to 3 videos are supported; each video lasts 2-15 seconds and the total duration of all videos must not exceed 15 seconds."
                  maxItems: 3
                  items:
                    type: string
                audio_urls:
                  type: array
                  title: Audio Urls
                  description: "Reference audio URLs. Up to 3 audios are supported; each audio lasts 2-15 seconds and the total duration of all audios must not exceed 15 seconds. Audio cannot be used alone; include at least one image or video reference."
                  maxItems: 3
                  items:
                    type: string
                duration:
                  type: integer
                  title: Duration
                  description: "Video duration in seconds, from 4 to 15."
                  enum:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                  default: 5
                  minimum: 4
                  maximum: 15
                resolution:
                  type: string
                  title: Resolution
                  description: "Generate video resolution."
                  enum:
                    - 480p
                    - 720p
                  default: 720p
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: "Aspect ratio of the generated video. When the ratio is configured as adaptive, the model will automatically adapt the aspect ratio according to the generation scenario."
                  enum:
                    - adaptive
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                    - 21:9
                  default: adaptive
                generate_audio:
                  type: boolean
                  title: Generate Audio
                  description: "Controls whether the generated video contains audio synchronized with the visuals."
                  default: true
                web_search:
                  type: boolean
                  title: Web Search
                  description: Allow retrieving live information when the channel supports it.
                  default: false
              required:
                - model
                - prompt
            example:
              model: seedance-2.0-mini
              prompt: "Storyboard draft: cat yawning at the camera, natural light, 5 seconds."
              duration: 5
              resolution: 720p
              aspect_ratio: adaptive
              generate_audio: true
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: "Data content for task submission"
                    properties:
                      task_id:
                        type: string
                        description: "generatation task id"
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "seedance-2.0-mini",
                "prompt": "Storyboard draft: cat yawning at the camera, natural light, 5 seconds.",
                "duration": 5,
                "resolution": "720p",
                "aspect_ratio": "adaptive",
                "generate_audio": true
              }'
        - lang: Python
          label: Python
          source: |-
            import os

            import requests


            payload = {
                "model": "seedance-2.0-mini",
                "prompt": "Storyboard draft: cat yawning at the camera, natural light, 5 seconds.",
                "duration": 5,
                "resolution": "720p",
                "aspect_ratio": "adaptive",
                "generate_audio": True
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
