openapi: 3.1.0
info:
  title: Seedance 2.0 Fast 参考生视频 API
  version: 1.0.0
  description: Seedance 2.0 Fast 参考生视频是低延迟路由，使用参考图片、视频或音频引导主体、动作、视觉风格和声音。Seedance 系列强调提示词遵循、连贯运动、多镜头叙事和音画同步。在 APIPod 中，公开模型 ID 为 seedance-2.0-fast-r2v，支持文生视频、图生视频、视频到视频；接受文本、图片、音频、视频输入，并通过异步视频任务返回结果。 素材确认含真人时设置 real_person=true，素材会先经素材服务送审换 assetId 引用再提交任务；默认 real_person=false 直接透传原始 URL、不送审。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: Seedance 2.0 Fast 参考生视频是低延迟路由，使用参考图片、视频或音频引导主体、动作、视觉风格和声音。Seedance 系列强调提示词遵循、连贯运动、多镜头叙事和音画同步。在 APIPod 中，公开模型 ID 为 seedance-2.0-fast-r2v，支持文生视频、图生视频、视频到视频；接受文本、图片、音频、视频输入，并通过异步视频任务返回结果。 素材确认含真人时设置 real_person=true，素材会先经素材服务送审换 assetId 引用再提交任务；默认 real_person=false 直接透传原始 URL、不送审。
      operationId: create-seedance-2-0-fast-reference-to-video
      tags:
        - Seedance 2.0 Fast 参考生视频
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedance 2.0 Fast 参考生视频
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: seedance-2.0-fast-r2v
                prompt:
                  type: string
                  title: Prompt
                  description: 生成或编辑指令，最长 30000 字符。建议提示词不超过 500 个汉字或 1000 个英文单词；过长的文本会导致信息分散，模型可能忽略细节、只关注重点，导致生成的视频缺少元素。
                  maxLength: 30000
                duration:
                  type: integer
                  title: Duration
                  enum:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                  default: 5
                  description: 视频时长，单位为秒。 最小值：4。 最大值：15。
                watermark:
                  type: boolean
                  title: Watermark
                  default: false
                  description: 添加上游水印。
                audio_urls:
                  type: array
                  title: Audio Urls
                  description: 可公开访问的参考音频 URL。
                  items:
                    type: string
                image_urls:
                  type: array
                  title: Image Urls
                  items:
                    type: string
                  description: 可公开访问的源图片或参考图 URL。
                resolution:
                  type: string
                  title: Resolution
                  enum:
                    - 480p
                    - 720p
                  default: 720p
                  description: 输出分辨率档位。
                video_urls:
                  type: array
                  title: Video Urls
                  items:
                    type: string
                  description: 可公开访问的参考视频 URL。
                web_search:
                  type: boolean
                  title: Web Search
                  description: 在通道支持时允许检索实时信息。
                  default: false
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  enum:
                    - adaptive
                    - 1:1
                    - 3:4
                    - 4:3
                    - 9:16
                    - 16:9
                    - 21:9
                  default: adaptive
                  description: 输出宽高比。
                generate_audio:
                  type: boolean
                  title: Generate Audio
                  description: 为视频生成同步音频。
                  default: true
                return_last_frame:
                  type: boolean
                  title: Return Last Frame
                  description: 返回生成视频的尾帧，用于续作工作流。
                  default: false
                real_person:
                  type: boolean
                  title: Real Person
                  description: 素材是否包含真人/人脸。设置为 true 时素材先经素材服务送审换取 assetId 引用再提交任务；默认 false 直接透传素材 URL，不送审。
                  default: false
              required:
                - model
                - prompt
            example:
              model: seedance-2.0-fast-r2v
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.
              duration: 5
              audio_urls:
                - https://cdn.example.com/reference.mp3
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              resolution: 720p
              video_urls:
                - https://cdn.example.com/reference.mp4
              aspect_ratio: adaptive
              generate_audio: true
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 响应数据。
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                  message:
                    type: string
                    description: 响应消息。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedance-2.0-fast-r2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "duration": 5,
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "resolution": "720p",
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "aspect_ratio": "adaptive",
              "generate_audio": true
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedance-2.0-fast-r2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "duration": 5,
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "resolution": "720p",
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "aspect_ratio": "adaptive",
              "generate_audio": True
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedance-2.0-fast-r2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "duration": 5,
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "resolution": "720p",
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "aspect_ratio": "adaptive",
              "generate_audio": true
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedance-2.0-fast-r2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "duration": 5,
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "resolution": "720p",
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "aspect_ratio": "adaptive",
              "generate_audio": true
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedance-2.0-fast-r2v",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "duration": 5,
                "audio_urls": [
                  "https://cdn.example.com/reference.mp3"
                ],
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "resolution": "720p",
                "video_urls": [
                  "https://cdn.example.com/reference.mp4"
                ],
                "aspect_ratio": "adaptive",
                "generate_audio": true
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。

