openapi: 3.1.0
info:
  title: Seedance 1.0 Lite Image to Video API
  version: 1.0.0
  description: Seedance 1.0 Lite 图生视频是标准路由，以必填首帧图片生成视频，并在公开 schema
    允许时使用可选尾帧。Seedance 系列强调提示词遵循、连贯运动、多镜头叙事和音画同步。在 APIPod 中，公开模型 ID 为
    seedance-1.0-lite-i2v，支持图生视频；接受文本、图片输入，并通过异步视频任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: Seedance 1.0 Lite 图生视频是标准路由，以必填首帧图片生成视频，并在公开 schema
        允许时使用可选尾帧。Seedance 系列强调提示词遵循、连贯运动、多镜头叙事和音画同步。在 APIPod 中，公开模型 ID 为
        seedance-1.0-lite-i2v，支持图生视频；接受文本、图片输入，并通过异步视频任务返回结果。
      operationId: create-seedance-seedance-1-0-lite-i2v
      tags:
        - Seedance 1.0 Lite Image to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: APIPod 公开模型 ID。
                  const: seedance-1.0-lite-i2v
                prompt:
                  type: string
                  description: 描述视频内容、运动、镜头和音频。 最大字符串长度：2000。
                image_urls:
                  type: array
                  items:
                    type: string
                  description: 必须提供一张首帧图片，可选提供一张尾帧图片。 最少项目数：1。 最多项目数：2。
                video_urls:
                  type: array
                  items:
                    type: string
                  description: 参考视频。 最多项目数：3。
                audio_urls:
                  type: array
                  items:
                    type: string
                  description: 参考音频文件。 最多项目数：3。
                aspect_ratio:
                  type: string
                  description: 输出宽高比，也可由模型自适应选择。
                  default: adaptive
                  enum:
                    - adaptive
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                    - 21:9
                resolution:
                  type: string
                  description: 输出分辨率。
                  default: 720p
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                    - 4k
                duration:
                  type: integer
                  description: 视频片段时长，单位为秒；仅在支持自动时长的路由中可使用 -1。
                  default: 5
                  enum:
                    - -1
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                generate_audio:
                  type: boolean
                  description: 生成与视频同步的音频。
                  default: true
                return_last_frame:
                  type: boolean
                  description: 将生成视频的尾帧作为结果列表的第一项返回。
                  default: false
                web_search:
                  type: boolean
                  description: 允许模型在需要时检索实时信息。
                  default: false
                watermark:
                  type: boolean
                  description: 添加上游水印。
                  default: false
                callback_url:
                  type: string
                  description: 接收任务完成通知的 HTTPS 地址。
              required:
                - model
                - prompt
                - image_urls
            example:
              model: seedance-1.0-lite-i2v
              prompt: Animate the subject with a slow camera push-in, natural motion, and soft
                cinematic lighting.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              aspect_ratio: adaptive
              resolution: 720p
              duration: 5
              generate_audio: true
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                    const: 200
                  message:
                    type: string
                    description: 响应消息。
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                    required:
                      - task_id
                    description: 响应数据。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedance-1.0-lite-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "aspect_ratio": "adaptive",
              "resolution": "720p",
              "duration": 5,
              "generate_audio": true
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedance-1.0-lite-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "aspect_ratio": "adaptive",
              "resolution": "720p",
              "duration": 5,
              "generate_audio": True
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedance-1.0-lite-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "aspect_ratio": "adaptive",
              "resolution": "720p",
              "duration": 5,
              "generate_audio": true
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedance-1.0-lite-i2v",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "aspect_ratio": "adaptive",
              "resolution": "720p",
              "duration": 5,
              "generate_audio": true
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedance-1.0-lite-i2v",
                "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "aspect_ratio": "adaptive",
                "resolution": "720p",
                "duration": 5,
                "generate_audio": true
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
