openapi: 3.1.0
info:
  title: Seedance 2.5 Video Edit API
  version: 1.0.0
  description: Seedance 2.5 视频编辑将全模态参考子任务固定为视频编辑：传入源视频（4-30
    秒），可附参考图或参考音频，用提示词描述编辑意图；输出时长与画幅自动跟随源视频——duration 与 aspect_ratio
    均不暴露在契约中，传入任意值都会被忽略。子任务参数限制在提交时同步校验，不再异步报错。在 APIPod 中，公开模型 ID 为
    seedance-2.5-edit，并通过异步视频任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: Seedance 2.5 视频编辑将全模态参考子任务固定为视频编辑：传入源视频（4-30
        秒），可附参考图或参考音频，用提示词描述编辑意图；输出时长与画幅自动跟随源视频——duration 与 aspect_ratio
        均不暴露在契约中，传入任意值都会被忽略。子任务参数限制在提交时同步校验，不再异步报错。在 APIPod 中，公开模型 ID 为
        seedance-2.5-edit，并通过异步视频任务返回结果。
      operationId: create-seedance-2-5-video-edit
      tags:
        - Seedance 2.5 Video Edit
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedance 2.5 Video Edit
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: seedance-2.5-edit
                prompt:
                  type: string
                  title: Prompt
                  description: 生成或编辑指令。 最大字符串长度：30000。
                image_urls:
                  type: array
                  title: Image Urls
                  description: 可公开访问的源图片或参考图 URL。 最多项目数：30。
                  items:
                    type: string
                video_urls:
                  type: array
                  title: Video Urls
                  description: 可公开访问的参考视频 URL。 最少项目数：1。 最多项目数：10。
                  items:
                    type: string
                audio_urls:
                  type: array
                  title: Audio Urls
                  description: 可公开访问的参考音频 URL。 最多项目数：10。
                  items:
                    type: string
                resolution:
                  type: string
                  title: Resolution
                  description: 输出分辨率档位。
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                  default: 720p
                generate_audio:
                  type: boolean
                  title: Generate Audio
                  description: 为视频生成同步音频。
                  default: true
              required:
                - model
                - prompt
                - video_urls
            example:
              model: seedance-2.5-edit
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              video_urls:
                - https://cdn.example.com/reference.mp4
              resolution: 720p
              generate_audio: true
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 响应数据。
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                  message:
                    type: string
                    description: 响应消息。
                required:
                  - code
                  - message
                  - data
                example:
                  code: 200
                  message: success
                  data:
                    task_id: vid_task_01JEXAMPLE
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedance-2.5-edit",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "resolution": "720p",
              "generate_audio": true
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedance-2.5-edit",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "resolution": "720p",
              "generate_audio": True
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedance-2.5-edit",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "resolution": "720p",
              "generate_audio": true
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedance-2.5-edit",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "resolution": "720p",
              "generate_audio": true
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedance-2.5-edit",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "video_urls": [
                  "https://cdn.example.com/reference.mp4"
                ],
                "resolution": "720p",
                "generate_audio": true
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
