openapi: 3.1.0
info:
  title: Seedance 2.0 Mini (Ark-Compatible) API
  version: 1.0.0
  description: "Ark-compatible task creation for the Seedance 2.0 Mini tier: point Volcano Ark SDKs and clients at https://api.apipod.ai/api/v3 and keep the request body you would send to ark.cn-beijing.volces.com. One model ID covers every scenario at Mini-tier pricing, with 480p / 720p output, up to 9 reference images, 3 videos, and 3 audios, and durations from 4 to 15 seconds; results are returned through asynchronous tasks."
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /api/v3/contents/generations/tasks:
    post:
      summary: Create video generation task (Ark-compatible)
      description: "Ark-compatible task creation for the Seedance 2.0 Mini tier: point Volcano Ark SDKs and clients at https://api.apipod.ai/api/v3 and keep the request body you would send to ark.cn-beijing.volces.com. One model ID covers every scenario at Mini-tier pricing, with 480p / 720p output, up to 9 reference images, 3 videos, and 3 audios, and durations from 4 to 15 seconds; results are returned through asynchronous tasks."
      operationId: post-ark-seedance-2-0-mini
      tags:
        - Seedance 2.0 Mini Ark-Compatible
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedance 2.0 Mini (Ark-Compatible)
              properties:
                model:
                  type: string
                  title: Model ID
                  description: "Public APIPod model ID (all-in-one; the scenario is inferred from the content array)."
                  const: seedance-2.0-mini
                content:
                  type: array
                  title: Content
                  description: "Input content list. Text is the prompt. Images without a role, or with role first_frame/last_frame (max 2), drive image-to-video; images with role reference_image, videos, and audios drive omni reference generation. Scenarios are mutually exclusive. Reference limits: 9 images / 3 videos / 3 audios."
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - text
                          - image_url
                          - video_url
                          - audio_url
                        description: "Content item type."
                      text:
                        type: string
                        description: "Text prompt, for type text."
                      image_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: "Image URL or data URL."
                        description: "Image object, for type image_url."
                      video_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: "Reference video URL."
                        description: "Video object, for type video_url."
                      audio_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: "Reference audio URL."
                        description: "Audio object, for type audio_url."
                      role:
                        type: string
                        enum:
                          - first_frame
                          - last_frame
                          - reference_image
                          - reference_video
                          - reference_audio
                        description: "Role of the media item. Un-roled images are treated as first/last frames."
                resolution:
                  type: string
                  title: Resolution
                  description: "Video resolution. Supported values depend on the model."
                  enum:
                    - 480p
                    - 720p
                  default: 720p
                ratio:
                  type: string
                  title: Ratio
                  description: "Aspect ratio of the output video."
                  enum:
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                    - 21:9
                    - adaptive
                  default: adaptive
                duration:
                  type: integer
                  title: Duration
                  description: "Video duration in seconds, from 4 to 15, default 5."
                  enum:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                  default: 5
                generate_audio:
                  type: boolean
                  title: Generate Audio
                  description: "Whether to generate synchronized audio."
                  default: true
                watermark:
                  type: boolean
                  title: Watermark
                  description: "Whether to add the upstream watermark."
                  default: false
                tools:
                  type: array
                  title: Tools
                  description: "Tool configuration. Only web_search is recognized."
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - web_search
                        description: "Tool type."
              required:
                - model
                - content
            example:
              model: seedance-2.0-mini
              content:
                    - type: text
                      text: "分镜草稿：小猫对着镜头打哈欠，自然光，5 秒。"
              resolution: 720p
              ratio: adaptive
              duration: 5
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: "Asynchronous task ID. Poll the Ark-compatible query endpoint with this value."
                  model:
                    type: string
                    description: "Public model family name used for this task."
                required:
                  - id
                  - model
              example:
                id: 0f4c9f6e-1111-4c1d-8c2f-2b7b9a1c4d55
                model: seedance-2.0-mini
        "400":
          description: "Invalid request, for example mixed content scenarios or unsupported parameters."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: "Ark-style error code."
                      message:
                        type: string
                        description: "Client-safe error message."
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |-
            curl https://api.apipod.ai/api/v3/contents/generations/tasks \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "seedance-2.0-mini",
                "content": [
                  {"type": "text", "text": "分镜草稿：小猫对着镜头打哈欠，自然光，5 秒。"}
                ],
                "resolution": "720p",
                "ratio": "adaptive",
                "duration": 5
              }'
        - lang: Python
          label: Python
          source: |-
            import os

            import requests


            payload = {
                "model": "seedance-2.0-mini",
                "content": [
                    {"type": "text", "text": "分镜草稿：小猫对着镜头打哈欠，自然光，5 秒。"}
                ],
                "resolution": "720p",
                "ratio": "adaptive",
                "duration": 5,
            }


            response = requests.post(
                "https://api.apipod.ai/api/v3/contents/generations/tasks",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
