openapi: 3.1.0
info:
  title: Seedance 2.5 Draft 样片 API
  version: 1.0.0
  description: Seedance 2.5 Draft 是两段式工作流：按普通请求提交生成低成本的 480p 样片，样片完成后把其任务 ID 作为 draft_task_id 提交即可生成 1080p 成片。成片复用样片的提示词、素材、时长、画幅、seed 与音频设置，并固定在生成样片的同一账号上执行（不跨渠道回退）。在 APIPod 中，公开模型 ID 为 seedance-2.5-draft，并通过异步视频任务返回结果。
servers:
- url: https://api.apipod.ai
  description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: Seedance 2.5 Draft 是两段式工作流：按普通请求提交生成低成本的 480p 样片，样片完成后把其任务 ID 作为 draft_task_id 提交即可生成 1080p 成片。成片复用样片的提示词、素材、时长、画幅、seed 与音频设置，并固定在生成样片的同一账号上执行（不跨渠道回退）。在 APIPod 中，公开模型 ID 为 seedance-2.5-draft，并通过异步视频任务返回结果。
      operationId: create-seedance-2-5-draft
      tags:
      - Seedance 2.5 Draft 样片
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedance 2.5 Draft 样片
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: seedance-2.5-draft
                draft_task_id:
                  type: string
                  title: Draft Task ID
                  description: 同一用户 7 天内创建且已完成的样片的平台任务 ID；传入后生成 1080p 成片。请勿传上游任务 ID。
                prompt:
                  type: string
                  title: Prompt
                  description: 样片阶段：文本指令，最长 30000 字符；未提供素材时必填。成片阶段：不可传（复用样片）。
                  maxLength: 30000
                image_urls:
                  type: array
                  title: Image Urls
                  description: 样片阶段：参考图 URL，最多 30 张（仅 1-2 张图且无其他素材时按首帧/首尾帧处理）。成片阶段：不可传。
                  maxItems: 30
                  items:
                    type: string
                video_urls:
                  type: array
                  title: Video Urls
                  description: 样片阶段：参考视频 URL，最多 10 条；带视频时计费累加输入视频总时长。成片阶段：不可传。
                  maxItems: 10
                  items:
                    type: string
                audio_urls:
                  type: array
                  title: Audio Urls
                  description: 样片阶段：参考音频 URL，最多 10 段；音频需搭配至少一张图或一条视频。成片阶段：不可传。
                  maxItems: 10
                  items:
                    type: string
                duration:
                  type: integer
                  title: Duration
                  enum:
                  - 4
                  - 5
                  - 6
                  - 7
                  - 8
                  - 9
                  - 10
                  - 11
                  - 12
                  - 13
                  - 14
                  - 15
                  - 16
                  - 17
                  - 18
                  - 19
                  - 20
                  - 21
                  - 22
                  - 23
                  - 24
                  - 25
                  - 26
                  - 27
                  - 28
                  - 29
                  - 30
                  default: 4
                  description: 样片阶段：输出时长（秒），4-30（默认 4），不支持 -1。成片阶段：不可传，复用并按样片时长计费。
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: 样片阶段：输出画幅（默认 adaptive）。成片阶段：不可传（复用样片）。
                  enum:
                  - adaptive
                  - 969
                  - 243
                  - 61
                  - 184
                  - 556
                  - 1269
                  default: adaptive
                resolution:
                  type: string
                  title: Resolution
                  description: 样片仅支持 480p（缺省自动补齐）；通过 draft_task_id 生成的成片仅支持 1080p（缺省自动补齐）。
                  enum:
                  - 480p
                  - 1080p
                generate_audio:
                  type: boolean
                  title: Generate Audio
                  description: 样片阶段：是否生成同步音频（默认 true）。成片阶段：不可传（复用样片）。
                  default: true
                output_format:
                  type: string
                  title: Output Format
                  description: 输出容器格式，mp4（默认）或 mov，两阶段均可设置。
                  enum:
                  - mp4
                  - mov
                  default: mp4
                return_last_frame:
                  type: boolean
                  title: Return Last Frame
                  description: 是否同时返回输出视频的尾帧图片，两阶段均可设置。
                  default: false
              required:
              - model
            example:
              model: seedance-2.5-draft
              prompt: 女孩抱着一只狐狸，镜头缓缓拉远，风吹动她的头发
              image_urls:
              - https://example.com/reference.png
              duration: 5
              aspect_ratio: '16:9'
              resolution: 480p
      responses:
        '200':
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: 任务提交标准响应
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 任务提交数据内容
                    properties:
                      task_id:
                        type: string
                        description: 生成任务 ID
                  message:
                    type: string
                    description: 响应消息。
                required:
                - code
                - message
                - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |-
          curl https://api.apipod.ai/v1/videos/generations \
            -H "Authorization: Bearer $APIPOD_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
            "model": "seedance-2.5-draft",
            "prompt": "女孩抱着一只狐狸，镜头缓缓拉远，风吹动她的头发",
            "image_urls": [
              "https://example.com/reference.png"
            ],
            "duration": 5,
            "aspect_ratio": "16:9",
            "resolution": "480p"
          }'
      - lang: Python
        label: Python
        source: |-
          import os
          import requests

          payload = {
              "model": "seedance-2.5-draft",
              "prompt": "女孩抱着一只狐狸，镜头缓缓拉远，风吹动她的头发",
              "image_urls": [
                  "https://example.com/reference.png"
              ],
              "duration": 5,
              "aspect_ratio": "16:9",
              "resolution": "480p"
          }

          response = requests.post(
              "https://api.apipod.ai/v1/videos/generations",
              headers={
                  "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                  "Content-Type": "application/json",
              },
              json=payload,
              timeout=60,
          )
          response.raise_for_status()
          print(response.json())
      - lang: Go
        label: Go
        source: |-
          package main

          import (
              "bytes"
              "fmt"
              "net/http"
              "os"
          )

          func main() {
              body := []byte(`{
            "model": "seedance-2.5-draft",
            "prompt": "女孩抱着一只狐狸，镜头缓缓拉远，风吹动她的头发",
            "image_urls": [
              "https://example.com/reference.png"
            ],
            "duration": 5,
            "aspect_ratio": "16:9",
            "resolution": "480p"
          }`)

              req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
              if err != nil {
                  panic(err)
              }
              req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
              req.Header.Set("Content-Type", "application/json")

              resp, err := http.DefaultClient.Do(req)
              if err != nil {
                  panic(err)
              }
              defer resp.Body.Close()
              fmt.Println(resp.Status)
          }
      - lang: Rust
        label: Rust
        source: |-
          use reqwest::Client;
          use serde_json::json;
          use std::env;

          #[tokio::main]
          async fn main() -> Result<(), Box<dyn std::error::Error>> {
              let payload = json!({
                "model": "seedance-2.5-draft",
                "prompt": "女孩抱着一只狐狸，镜头缓缓拉远，风吹动她的头发",
                "image_urls": [
                  "https://example.com/reference.png"
                ],
                "duration": 5,
                "aspect_ratio": "16:9",
                "resolution": "480p"
              });
              let response = Client::new()
                  .post("https://api.apipod.ai/v1/videos/generations")
                  .bearer_auth(env::var("APIPOD_API_KEY")?)
                  .json(&payload)
                  .send()
                  .await?
                  .error_for_status()?;

              println!("{}", response.text().await?);
              Ok(())
          }
      - lang: JavaScript
        label: JavaScript
        source: |-
          const response = await fetch("https://api.apipod.ai/v1/videos/generations", {
            method: "POST",
            headers: {
              Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              "model": "seedance-2.5-draft",
              "prompt": "女孩抱着一只狐狸，镜头缓缓拉远，风吹动她的头发",
              "image_urls": [
                "https://example.com/reference.png"
              ],
              "duration": 5,
              "aspect_ratio": "16:9",
              "resolution": "480p"
            }),
          });

          if (!response.ok) {
            throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
          }

          console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 头中使用你的 APIPod API Key 作为 Bearer 令牌。
