openapi: 3.1.0
info:
  title: Seedream 5.0 Flash 图层拆分 API
  version: 1.0.0
  description: Seedream 5.0 Flash 图层拆分是 Seedream 5 系列中更快速的图层拆分模式。在 APIPod 中，公开模型
    ID 为 seedream-5.0-flash-layer，接受文本与恰好 1 张图片输入，输出底图和最多 16 个透明 PNG 图层，并在
    images 数组中附带 z_index、位置框、名称和描述，按次计费。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/images/generations:
    post:
      summary: 创建生成任务
      description: Seedream 5.0 Flash 图层拆分是 Seedream 5 系列中更快速的图层拆分模式。在 APIPod 中，公开模型
        ID 为 seedream-5.0-flash-layer，接受文本与恰好 1 张图片输入，输出底图和最多 16 个透明 PNG 图层，并在
        images 数组中附带 z_index、位置框、名称和描述，按次计费。
      operationId: create-seedream-5-0-flash-layer
      tags:
        - Seedream 5.0 Flash 图层拆分
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedream 5.0 Flash 图层拆分
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: seedream-5.0-flash-layer
                prompt:
                  type: string
                  title: Prompt
                  description: 生成或编辑指令。 最大字符串长度：2000。
                image_urls:
                  type: array
                  title: Image Urls
                  description: 可公开访问的源图片或参考图 URL。 最少项目数：1。 最多项目数：1。
                  items:
                    type: string
                quality:
                  type: string
                  title: Quality
                  description: 输出质量或图片分辨率档位。
                  enum:
                    - auto
                    - 1K
                    - 1.5K
                    - 2K
                  default: auto
              required:
                - model
                - prompt
                - image_urls
            example:
              model: seedream-5.0-flash-layer
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              quality: auto
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 响应数据。
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                  message:
                    type: string
                    description: 响应消息。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedream-5.0-flash-layer",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "quality": "auto"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedream-5.0-flash-layer",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "quality": "auto"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedream-5.0-flash-layer",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "quality": "auto"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedream-5.0-flash-layer",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "quality": "auto"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedream-5.0-flash-layer",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "quality": "auto"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
