openapi: 3.1.0
info:
  title: Seedance 2.0 mini Text to Video API
  version: 1.0.0
  description: Seedance 2.0 Mini Text to Video is a efficiency-oriented route for
    scaled workloads that turns text instructions into video without requiring
    source media. The Seedance family emphasizes prompt following, coherent
    motion, multi-shot storytelling, and synchronized audio. In APIPod, the
    public model ID is seedance-2.0-mini-t2v. It supports text-to-video, accepts
    text inputs, and returns results through asynchronous video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Seedance 2.0 Mini Text to Video is a efficiency-oriented route for
        scaled workloads that turns text instructions into video without
        requiring source media. The Seedance family emphasizes prompt following,
        coherent motion, multi-shot storytelling, and synchronized audio. In
        APIPod, the public model ID is seedance-2.0-mini-t2v. It supports
        text-to-video, accepts text inputs, and returns results through
        asynchronous video tasks.
      operationId: create-seedance-2-0-mini-text-to-video
      tags:
        - Seedance 2.0 mini Text to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedance 2.0 Mini Text to Video
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: seedance-2.0-mini-t2v
                prompt:
                  type: string
                  title: Prompt
                  description: The generation videos prompt.
                  default: 建筑模型炸开动画。玻璃幕墙做通透反光质感，石材外立面做哑光纹理，金属构件做细腻高光，极简深灰渐变背景，柔和顶光 + 侧光打亮材质细节。0-1
                    秒：慢推环绕全景，建筑整机实景展示，镜头顺时针缓慢环绕，展示玻璃幕墙反光、石材外立面、入口造型等细节；1-4
                    秒：建筑玻璃幕墙与石材外立面模块分区域向外悬浮分离，幕墙模块透明反光，分离处加微小白色粒子过渡，露出内部商铺 / 中庭
                    / 办公区功能空间，各外立面模块均匀散开定格；4-6 秒：建筑按功能分区（商业首层 / 办公层 / 中庭 /
                    屋顶花园）竖向 + 水平双向爆炸分离，各分区模块悬浮错开，清晰展示内部空间动线与功能布局，中庭挑空结构单独凸显；6-8
                    秒：建筑核心钢框架结构亮白色轮廓线强化，周边功能模块轻微虚化，同时室外广场、景观绿化、停车场等配套模块从建筑周边悬浮散开，所有模块最终呈扇形悬浮定格，镜头慢拉至全景，展示建筑实景材质、内部空间、核心结构、景观配套的完整关系，背景音为轻缓科技感
                    + 轻微环境音，画面右下角轻弹极简白色无衬线字幕「APIPod.ai」，无多余装饰。
                  maxLength: 1000
                duration:
                  type: integer
                  title: Duration
                  enum:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                  default: 5
                  minimum: 4
                  maximum: 15
                resolution:
                  type: string
                  title: Resolution
                  description: Generate video resolution.
                  enum:
                    - 480p
                    - 720p
                  default: 720p
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: Aspect ratio of the generated video,When the ratio is configured as
                    adaptive, the model will automatically adapt the aspect
                    ratio according to the generation scenario.
                  enum:
                    - adaptive
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                    - 21:9
                  default: adaptive
                watermark:
                  type: boolean
                  title: Watermark
                  description: Whether the generated video contains a watermark
                  default: false
                web_search:
                  type: boolean
                  title: Web Search
                  description: After enabling, the model will independently decide whether to
                    search Internet content (such as products, weather, etc.)
                    based on the user's prompt. This can improve the timeliness
                    of generated videos but will also introduce a certain degree
                    of latency.
                  default: false
                generate_audio:
                  type: boolean
                  title: Generate Audio
                  description: Controls whether the generated video contains audio synchronized
                    with the visuals.
                  default: true
                return_last_frame:
                  type: boolean
                  title: Retrun Last Frame
                  description: "Whether to return the last frame image of the generated video.
                    Using this parameter enables the generation of multiple
                    consecutive videos: taking the last frame of the previous
                    generated video as the first frame of the next video task to
                    quickly generate multiple consecutive videos, and the first
                    item in the returned result is this image."
                  default: false
              required:
                - model
                - prompt
            example:
              model: seedance-2.0-mini-t2v
              prompt: 建筑模型炸开动画。玻璃幕墙做通透反光质感，石材外立面做哑光纹理，金属构件做细腻高光，极简深灰渐变背景，柔和顶光 + 侧光打亮材质细节。0-1
                秒：慢推环绕全景，建筑整机实景展示，镜头顺时针缓慢环绕，展示玻璃幕墙反光、石材外立面、入口造型等细节；1-4
                秒：建筑玻璃幕墙与石材外立面模块分区域向外悬浮分离，幕墙模块透明反光，分离处加微小白色粒子过渡，露出内部商铺 / 中庭 /
                办公区功能空间，各外立面模块均匀散开定格；4-6 秒：建筑按功能分区（商业首层 / 办公层 / 中庭 / 屋顶花园）竖向 +
                水平双向爆炸分离，各分区模块悬浮错开，清晰展示内部空间动线与功能布局，中庭挑空结构单独凸显；6-8
                秒：建筑核心钢框架结构亮白色轮廓线强化，周边功能模块轻微虚化，同时室外广场、景观绿化、停车场等配套模块从建筑周边悬浮散开，所有模块最终呈扇形悬浮定格，镜头慢拉至全景，展示建筑实景材质、内部空间、核心结构、景观配套的完整关系，背景音为轻缓科技感
                + 轻微环境音，画面右下角轻弹极简白色无衬线字幕「APIPod.ai」，无多余装饰。
              duration: 5
              resolution: 720p
              aspect_ratio: adaptive
              generate_audio: true
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedance-2.0-mini-t2v",
              "prompt": "建筑模型炸开动画。玻璃幕墙做通透反光质感，石材外立面做哑光纹理，金属构件做细腻高光，极简深灰渐变背景，柔和顶光 + 侧光打亮材质细节。0-1 秒：慢推环绕全景，建筑整机实景展示，镜头顺时针缓慢环绕，展示玻璃幕墙反光、石材外立面、入口造型等细节；1-4 秒：建筑玻璃幕墙与石材外立面模块分区域向外悬浮分离，幕墙模块透明反光，分离处加微小白色粒子过渡，露出内部商铺 / 中庭 / 办公区功能空间，各外立面模块均匀散开定格；4-6 秒：建筑按功能分区（商业首层 / 办公层 / 中庭 / 屋顶花园）竖向 + 水平双向爆炸分离，各分区模块悬浮错开，清晰展示内部空间动线与功能布局，中庭挑空结构单独凸显；6-8 秒：建筑核心钢框架结构亮白色轮廓线强化，周边功能模块轻微虚化，同时室外广场、景观绿化、停车场等配套模块从建筑周边悬浮散开，所有模块最终呈扇形悬浮定格，镜头慢拉至全景，展示建筑实景材质、内部空间、核心结构、景观配套的完整关系，背景音为轻缓科技感 + 轻微环境音，画面右下角轻弹极简白色无衬线字幕「APIPod.ai」，无多余装饰。",
              "duration": 5,
              "resolution": "720p",
              "aspect_ratio": "adaptive",
              "generate_audio": true
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedance-2.0-mini-t2v",
              "prompt": "建筑模型炸开动画。玻璃幕墙做通透反光质感，石材外立面做哑光纹理，金属构件做细腻高光，极简深灰渐变背景，柔和顶光 + 侧光打亮材质细节。0-1 秒：慢推环绕全景，建筑整机实景展示，镜头顺时针缓慢环绕，展示玻璃幕墙反光、石材外立面、入口造型等细节；1-4 秒：建筑玻璃幕墙与石材外立面模块分区域向外悬浮分离，幕墙模块透明反光，分离处加微小白色粒子过渡，露出内部商铺 / 中庭 / 办公区功能空间，各外立面模块均匀散开定格；4-6 秒：建筑按功能分区（商业首层 / 办公层 / 中庭 / 屋顶花园）竖向 + 水平双向爆炸分离，各分区模块悬浮错开，清晰展示内部空间动线与功能布局，中庭挑空结构单独凸显；6-8 秒：建筑核心钢框架结构亮白色轮廓线强化，周边功能模块轻微虚化，同时室外广场、景观绿化、停车场等配套模块从建筑周边悬浮散开，所有模块最终呈扇形悬浮定格，镜头慢拉至全景，展示建筑实景材质、内部空间、核心结构、景观配套的完整关系，背景音为轻缓科技感 + 轻微环境音，画面右下角轻弹极简白色无衬线字幕「APIPod.ai」，无多余装饰。",
              "duration": 5,
              "resolution": "720p",
              "aspect_ratio": "adaptive",
              "generate_audio": True
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedance-2.0-mini-t2v",
              "prompt": "建筑模型炸开动画。玻璃幕墙做通透反光质感，石材外立面做哑光纹理，金属构件做细腻高光，极简深灰渐变背景，柔和顶光 + 侧光打亮材质细节。0-1 秒：慢推环绕全景，建筑整机实景展示，镜头顺时针缓慢环绕，展示玻璃幕墙反光、石材外立面、入口造型等细节；1-4 秒：建筑玻璃幕墙与石材外立面模块分区域向外悬浮分离，幕墙模块透明反光，分离处加微小白色粒子过渡，露出内部商铺 / 中庭 / 办公区功能空间，各外立面模块均匀散开定格；4-6 秒：建筑按功能分区（商业首层 / 办公层 / 中庭 / 屋顶花园）竖向 + 水平双向爆炸分离，各分区模块悬浮错开，清晰展示内部空间动线与功能布局，中庭挑空结构单独凸显；6-8 秒：建筑核心钢框架结构亮白色轮廓线强化，周边功能模块轻微虚化，同时室外广场、景观绿化、停车场等配套模块从建筑周边悬浮散开，所有模块最终呈扇形悬浮定格，镜头慢拉至全景，展示建筑实景材质、内部空间、核心结构、景观配套的完整关系，背景音为轻缓科技感 + 轻微环境音，画面右下角轻弹极简白色无衬线字幕「APIPod.ai」，无多余装饰。",
              "duration": 5,
              "resolution": "720p",
              "aspect_ratio": "adaptive",
              "generate_audio": true
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedance-2.0-mini-t2v",
              "prompt": "建筑模型炸开动画。玻璃幕墙做通透反光质感，石材外立面做哑光纹理，金属构件做细腻高光，极简深灰渐变背景，柔和顶光 + 侧光打亮材质细节。0-1 秒：慢推环绕全景，建筑整机实景展示，镜头顺时针缓慢环绕，展示玻璃幕墙反光、石材外立面、入口造型等细节；1-4 秒：建筑玻璃幕墙与石材外立面模块分区域向外悬浮分离，幕墙模块透明反光，分离处加微小白色粒子过渡，露出内部商铺 / 中庭 / 办公区功能空间，各外立面模块均匀散开定格；4-6 秒：建筑按功能分区（商业首层 / 办公层 / 中庭 / 屋顶花园）竖向 + 水平双向爆炸分离，各分区模块悬浮错开，清晰展示内部空间动线与功能布局，中庭挑空结构单独凸显；6-8 秒：建筑核心钢框架结构亮白色轮廓线强化，周边功能模块轻微虚化，同时室外广场、景观绿化、停车场等配套模块从建筑周边悬浮散开，所有模块最终呈扇形悬浮定格，镜头慢拉至全景，展示建筑实景材质、内部空间、核心结构、景观配套的完整关系，背景音为轻缓科技感 + 轻微环境音，画面右下角轻弹极简白色无衬线字幕「APIPod.ai」，无多余装饰。",
              "duration": 5,
              "resolution": "720p",
              "aspect_ratio": "adaptive",
              "generate_audio": true
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedance-2.0-mini-t2v",
                "prompt": "建筑模型炸开动画。玻璃幕墙做通透反光质感，石材外立面做哑光纹理，金属构件做细腻高光，极简深灰渐变背景，柔和顶光 + 侧光打亮材质细节。0-1 秒：慢推环绕全景，建筑整机实景展示，镜头顺时针缓慢环绕，展示玻璃幕墙反光、石材外立面、入口造型等细节；1-4 秒：建筑玻璃幕墙与石材外立面模块分区域向外悬浮分离，幕墙模块透明反光，分离处加微小白色粒子过渡，露出内部商铺 / 中庭 / 办公区功能空间，各外立面模块均匀散开定格；4-6 秒：建筑按功能分区（商业首层 / 办公层 / 中庭 / 屋顶花园）竖向 + 水平双向爆炸分离，各分区模块悬浮错开，清晰展示内部空间动线与功能布局，中庭挑空结构单独凸显；6-8 秒：建筑核心钢框架结构亮白色轮廓线强化，周边功能模块轻微虚化，同时室外广场、景观绿化、停车场等配套模块从建筑周边悬浮散开，所有模块最终呈扇形悬浮定格，镜头慢拉至全景，展示建筑实景材质、内部空间、核心结构、景观配套的完整关系，背景音为轻缓科技感 + 轻微环境音，画面右下角轻弹极简白色无衬线字幕「APIPod.ai」，无多余装饰。",
                "duration": 5,
                "resolution": "720p",
                "aspect_ratio": "adaptive",
                "generate_audio": true
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
