openapi: 3.1.0
info:
  title: Seedance 2.0 Text to Video VIP API
  version: 1.0.0
  description: Seedance 2.0 T2V VIP is APIPod's full-capability text-to-video
    route for Seedance 2.0, intended for prompt-driven generation with
    synchronized audio and the configured standard-quality channel. In APIPod,
    the public model ID is seedance-2.0-t2v-vip. It supports text-to-video,
    accepts text inputs, and returns results through asynchronous video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Seedance 2.0 T2V VIP is APIPod's full-capability text-to-video
        route for Seedance 2.0, intended for prompt-driven generation with
        synchronized audio and the configured standard-quality channel. In
        APIPod, the public model ID is seedance-2.0-t2v-vip. It supports
        text-to-video, accepts text inputs, and returns results through
        asynchronous video tasks.
      operationId: create-seedance-seedance-2-0-t2v-vip
      tags:
        - Seedance 2.0 Text to Video VIP
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedance 2.0 Text to Video VIP
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: seedance-2.0-t2v-vip
                prompt:
                  type: string
                  title: Prompt
                  description: Video generation prompt.
                  default: ""
                  maxLength: 1500
                resolution:
                  type: string
                  title: Resolution
                  description: "Output resolution: Only 720p is supported currently."
                  enum:
                    - 720p
                  default: 720p
                duration:
                  type: integer
                  title: Duration
                  description: "Video duration, unit: second. Default value is 5, valid range:
                    1-15"
                  default: 5
                  minimum: 1
                  maximum: 15
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: Output aspect ratio, default 16:9.
                  enum:
                    - 1:1
                    - 3:4
                    - 4:3
                    - 9:16
                    - 16:9
                  default: 16:9
              required:
                - model
                - prompt
            example:
              model: seedance-2.0-t2v-vip
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              resolution: 720p
              duration: 5
              aspect_ratio: 16:9
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedance-2.0-t2v-vip",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "resolution": "720p",
              "duration": 5,
              "aspect_ratio": "16:9"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedance-2.0-t2v-vip",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "resolution": "720p",
              "duration": 5,
              "aspect_ratio": "16:9"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedance-2.0-t2v-vip",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "resolution": "720p",
              "duration": 5,
              "aspect_ratio": "16:9"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedance-2.0-t2v-vip",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "resolution": "720p",
              "duration": 5,
              "aspect_ratio": "16:9"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedance-2.0-t2v-vip",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "resolution": "720p",
                "duration": 5,
                "aspect_ratio": "16:9"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
