openapi: 3.1.0
info:
  title: Seedance 1.0 Pro Fast Text to Video API
  version: 1.0.0
  description: Seedance 1.0 Pro Fast Text to Video is a Doubao provider route that
    turns text instructions into video without requiring source media. The
    Seedance family emphasizes prompt following, coherent motion, multi-shot
    storytelling, and synchronized audio. In APIPod, the public model ID is
    doubao-seedance-1.0-pro-fast-t2v. It supports text-to-video, accepts text
    inputs, and returns results through asynchronous video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Seedance 1.0 Pro Fast Text to Video is a Doubao provider route that
        turns text instructions into video without requiring source media. The
        Seedance family emphasizes prompt following, coherent motion, multi-shot
        storytelling, and synchronized audio. In APIPod, the public model ID is
        doubao-seedance-1.0-pro-fast-t2v. It supports text-to-video, accepts
        text inputs, and returns results through asynchronous video tasks.
      operationId: create-seedance-doubao-seedance-1-0-pro-fast-t2v
      tags:
        - Seedance 1.0 Pro Fast Text to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Public APIPod model ID.
                  const: doubao-seedance-1.0-pro-fast-t2v
                prompt:
                  type: string
                  description: Describe the content, motion, camera, and audio.
                  maxLength: 2000
                image_urls:
                  type: array
                  items:
                    type: string
                  description: Reference images.
                  maxItems: 9
                video_urls:
                  type: array
                  items:
                    type: string
                  description: Reference videos.
                  maxItems: 3
                audio_urls:
                  type: array
                  items:
                    type: string
                  description: Reference audio files.
                  maxItems: 3
                aspect_ratio:
                  type: string
                  description: Output aspect ratio, or adaptive selection.
                  default: adaptive
                  enum:
                    - adaptive
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                    - 21:9
                resolution:
                  type: string
                  description: Output resolution.
                  default: 720p
                  enum:
                    - 480p
                    - 720p
                duration:
                  type: integer
                  description: Clip duration in seconds. Use -1 only for automatic duration on
                    supported routes.
                  default: 5
                  enum:
                    - -1
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                generate_audio:
                  type: boolean
                  description: Generate synchronized audio.
                  default: true
                return_last_frame:
                  type: boolean
                  description: Include the generated last frame as the first result item.
                  default: false
                web_search:
                  type: boolean
                  description: Allow the model to retrieve current information when needed.
                  default: false
                watermark:
                  type: boolean
                  description: Add an upstream watermark.
                  default: false
                callback_url:
                  type: string
                  description: HTTPS endpoint that receives task completion notifications.
              required:
                - model
                - prompt
            example:
              model: doubao-seedance-1.0-pro-fast-t2v
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              aspect_ratio: adaptive
              resolution: 720p
              duration: 5
              generate_audio: true
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    const: 200
                  message:
                    type: string
                    description: Response message.
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: Public APIPod task ID used for status queries.
                    required:
                      - task_id
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "doubao-seedance-1.0-pro-fast-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "adaptive",
              "resolution": "720p",
              "duration": 5,
              "generate_audio": true
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "doubao-seedance-1.0-pro-fast-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "adaptive",
              "resolution": "720p",
              "duration": 5,
              "generate_audio": True
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "doubao-seedance-1.0-pro-fast-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "adaptive",
              "resolution": "720p",
              "duration": 5,
              "generate_audio": true
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "doubao-seedance-1.0-pro-fast-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "adaptive",
              "resolution": "720p",
              "duration": 5,
              "generate_audio": true
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "doubao-seedance-1.0-pro-fast-t2v",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "aspect_ratio": "adaptive",
                "resolution": "720p",
                "duration": 5,
                "generate_audio": true
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
