openapi: 3.1.0
info:
  title: Seedream V4.5 Image to Image API
  version: 1.0.0
  description: Seedream 4.5 Edit is ByteDance's reference-image editing model,
    designed to preserve subjects and fine details while following
    transformation instructions across one or more source images. In APIPod, the
    public model ID is seedream-v4.5-edit. It supports image generation and
    editing, accepts image and text inputs, and returns results through
    asynchronous image tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/images/generations:
    post:
      summary: Create Generation Task
      description: Seedream 4.5 Edit is ByteDance's reference-image editing model,
        designed to preserve subjects and fine details while following
        transformation instructions across one or more source images. In APIPod,
        the public model ID is seedream-v4.5-edit. It supports image generation
        and editing, accepts image and text inputs, and returns results through
        asynchronous image tasks.
      operationId: create-seedream-4-5-image-to-image
      tags:
        - Seedream V4.5 Image to Image
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedream V4.5 Edit
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: seedream-v4.5-edit
                prompt:
                  type: string
                  title: Prompt
                  description: Describe the content of the image to be edit.
                  default: ""
                  maxLength: 4000
                image_urls:
                  type: array
                  title: Input Images
                  items:
                    type: string
                quality:
                  type: string
                  title: Quality
                  description: Output image resolution.
                  enum:
                    - 2K
                    - 4K
                  default: 2K
                aspect_ratio:
                  type: string
                  title: Aspect ratio
                  description: The generated image's width and height aspect ratio.
                  enum:
                    - 1:1
                    - 2:3
                    - 3:2
                    - 3:4
                    - 4:3
                    - 16:9
                    - 9:16
                    - 21:9
                  default: 1:1
                callback_url:
                  type: string
                  title: Callback URL
                  description: Callback Notifications URL.
                  default: ""
              required:
                - model
                - prompt
                - image_urls
            example:
              model: seedream-v4.5-edit
              prompt: Animate the subject with a slow camera push-in, natural motion, and soft
                cinematic lighting.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              quality: 2K
              aspect_ratio: 1:1
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedream-v4.5-edit",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "quality": "2K",
              "aspect_ratio": "1:1"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedream-v4.5-edit",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "quality": "2K",
              "aspect_ratio": "1:1"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedream-v4.5-edit",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "quality": "2K",
              "aspect_ratio": "1:1"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedream-v4.5-edit",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "quality": "2K",
              "aspect_ratio": "1:1"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedream-v4.5-edit",
                "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "quality": "2K",
                "aspect_ratio": "1:1"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
