openapi: 3.1.0
info:
  title: Seedance 2.0 X Text to Video API
  version: 1.0.0
  description: Seedance 2.0 X 低价版文生视频是 APIPod 中成本最低的 Seedance 2.0
    路由，按次固定计费、与时长无关。根据文本提示词生成 5–15 秒、720P 的视频，画幅支持 16:9、9:16、4:3、3:4、1:1 和
    21:9。稳定性低于官方版与特价版，高峰期排队更长、失败率更高；不支持 seed、generate_audio 与 watermark 参数。在
    APIPod 中，公开模型 ID 为 seedance-2.0-x-t2v，支持文生视频；接受文本输入，并通过异步视频任务返回结果。当前 APIPod
    模型目录将其标记为beta。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: Seedance 2.0 X 低价版文生视频是 APIPod 中成本最低的 Seedance 2.0
        路由，按次固定计费、与时长无关。根据文本提示词生成 5–15 秒、720P 的视频，画幅支持 16:9、9:16、4:3、3:4、1:1 和
        21:9。稳定性低于官方版与特价版，高峰期排队更长、失败率更高；不支持 seed、generate_audio 与 watermark 参数。在
        APIPod 中，公开模型 ID 为 seedance-2.0-x-t2v，支持文生视频；接受文本输入，并通过异步视频任务返回结果。当前
        APIPod 模型目录将其标记为beta。
      operationId: create-seedance-2-0-x-text-to-video
      tags:
        - Seedance 2.0 X Text to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedance 2.0 X Text to Video
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: seedance-2.0-x-t2v
                prompt:
                  type: string
                  title: Prompt
                  description: 生成或编辑指令。 最大字符串长度：30000。 最小字符串长度：1。
                duration:
                  type: integer
                  title: Duration
                  enum:
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                  default: 5
                  description: 视频时长，单位为秒。 最小值：5。 最大值：15。
                resolution:
                  type: string
                  title: Resolution
                  description: 输出分辨率档位。
                  enum:
                    - 720p
                  default: 720p
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: 输出宽高比。
                  enum:
                    - 16:9
                    - 9:16
                    - 4:3
                    - 3:4
                    - 1:1
                    - 21:9
                  default: 16:9
              required:
                - model
                - prompt
            example:
              model: seedance-2.0-x-t2v
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              duration: 5
              resolution: 720p
              aspect_ratio: 16:9
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 响应数据。
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                  message:
                    type: string
                    description: 响应消息。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedance-2.0-x-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "duration": 5,
              "resolution": "720p",
              "aspect_ratio": "16:9"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedance-2.0-x-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "duration": 5,
              "resolution": "720p",
              "aspect_ratio": "16:9"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedance-2.0-x-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "duration": 5,
              "resolution": "720p",
              "aspect_ratio": "16:9"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedance-2.0-x-t2v",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "duration": 5,
              "resolution": "720p",
              "aspect_ratio": "16:9"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedance-2.0-x-t2v",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "duration": 5,
                "resolution": "720p",
                "aspect_ratio": "16:9"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
