openapi: 3.1.0
info:
  title: Seedream 5.0 Flash Layer API
  version: 1.0.0
  description: Seedream 5.0 Flash Layer is the faster layer-decomposition mode of
    the Seedream 5 family. In APIPod, the public model ID is
    seedream-5.0-flash-layer. It accepts a prompt and one image URL in
    image_url, outputs a base image plus up to 16 transparent PNG layers as
    objects in result with url, z_index, bounding box, name, and description,
    and is billed once per request.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/images/generations:
    post:
      summary: Create Generation Task
      description: Seedream 5.0 Flash Layer is the faster layer-decomposition mode of
        the Seedream 5 family. In APIPod, the public model ID is
        seedream-5.0-flash-layer. It accepts a prompt and one image URL in
        image_url, outputs a base image plus up to 16 transparent PNG layers as
        objects in result with url, z_index, bounding box, name, and
        description, and is billed once per request.
      operationId: create-seedream-5-0-flash-layer
      tags:
        - Seedream 5.0 Flash Layer
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Seedream 5.0 Flash Layer
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: seedream-5.0-flash-layer
                prompt:
                  type: string
                  title: Prompt
                  description: Describe the layers to extract; use <bbox>x1 y1 x2 y2</bbox>
                    (0-1000 normalized) to target text or subjects.
                  maxLength: 2000
                image_url:
                  type: string
                  title: Image Url
                  description: Publicly accessible URL of the image to decompose into a base image
                    and up to 16 transparent PNG layers.
                quality:
                  type: string
                  title: Quality
                  description: Output tier. auto keeps each layer's size in the source image
                    (clamped to 1K-2K); the base image keeps the source aspect
                    ratio.
                  enum:
                    - auto
                    - 1K
                    - 1.5K
                    - 2K
                  default: auto
              required:
                - model
                - prompt
                - image_url
            example:
              model: seedream-5.0-flash-layer
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              image_url: https://cdn.example.com/reference.jpg
              quality: auto
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "seedream-5.0-flash-layer",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_url": "https://cdn.example.com/reference.jpg",
              "quality": "auto"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "seedream-5.0-flash-layer",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_url": "https://cdn.example.com/reference.jpg",
              "quality": "auto"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "seedream-5.0-flash-layer",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_url": "https://cdn.example.com/reference.jpg",
              "quality": "auto"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "seedream-5.0-flash-layer",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_url": "https://cdn.example.com/reference.jpg",
              "quality": "auto"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "seedream-5.0-flash-layer",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "image_url": "https://cdn.example.com/reference.jpg",
                "quality": "auto"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
