openapi: 3.1.0
info:
  title: Veo 3.1 Fast 4K API
  version: 1.0.0
  description: Veo 3.1 Fast 4K is a fast-generation route based on Google Veo 3.1.
    It supports text or first/last-frame image guidance and can generate video
    with audio, with this public ID targeting 4K output. In APIPod, the public
    model ID is veo3-1-fast-4k. It supports text-to-video and image-to-video,
    accepts text and image inputs, and returns results through asynchronous
    video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Veo 3.1 Fast 4K is a fast-generation route based on Google Veo 3.1.
        It supports text or first/last-frame image guidance and can generate
        video with audio, with this public ID targeting 4K output. In APIPod,
        the public model ID is veo3-1-fast-4k. It supports text-to-video and
        image-to-video, accepts text and image inputs, and returns results
        through asynchronous video tasks.
      operationId: create-veo-3-1-fast-4k
      tags:
        - Veo 3.1 Fast 4K
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Public APIPod model ID.
                  const: veo3-1-fast-4k
                prompt:
                  type: string
                  description: Describe the scene, action, camera, and audio.
                  maxLength: 4000
                image_urls:
                  type: array
                  items:
                    type: string
                  description: Optional first and last frame images.
                  maxItems: 2
                aspect_ratio:
                  type: string
                  description: Video aspect ratio.
                  default: 16:9
                  enum:
                    - 16:9
                    - 9:16
                resolution:
                  type: string
                  description: Output resolution.
                  default: 4k
                  enum:
                    - 720p
                    - 1080p
                    - 4k
                duration:
                  type: integer
                  description: Clip duration in seconds.
                  default: 8
                  enum:
                    - 4
                    - 6
                    - 8
                callback_url:
                  type: string
                  description: HTTPS endpoint that receives task completion notifications.
              required:
                - model
                - prompt
            example:
              model: veo3-1-fast-4k
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              aspect_ratio: 16:9
              resolution: 4k
              duration: 8
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    const: 200
                  message:
                    type: string
                    description: Response message.
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: Public APIPod task ID used for status queries.
                    required:
                      - task_id
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "veo3-1-fast-4k",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "resolution": "4k",
              "duration": 8
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "veo3-1-fast-4k",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "resolution": "4k",
              "duration": 8
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "veo3-1-fast-4k",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "resolution": "4k",
              "duration": 8
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "veo3-1-fast-4k",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "resolution": "4k",
              "duration": 8
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "veo3-1-fast-4k",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "aspect_ratio": "16:9",
                "resolution": "4k",
                "duration": 8
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
