openapi: 3.1.0
info:
  title: VEO 3.1 Lite 4K API
  version: 1.0.0
  description: Veo 3.1 Lite 4K 是 APIPod 面向效率优化并以 4K 输出为目标的 Veo 3.1 路由版本，并非独立的
    Google 模型名称。在 APIPod 中，公开模型 ID 为
    veo3-1-lite-4k，支持文生视频、图生视频；接受文本、图片输入，并通过异步视频任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: Veo 3.1 Lite 4K 是 APIPod 面向效率优化并以 4K 输出为目标的 Veo 3.1 路由版本，并非独立的
        Google 模型名称。在 APIPod 中，公开模型 ID 为
        veo3-1-lite-4k，支持文生视频、图生视频；接受文本、图片输入，并通过异步视频任务返回结果。
      operationId: create-veo-3-1-lite-4k
      tags:
        - VEO 3.1 Lite 4K
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: APIPod 公开模型 ID。
                  const: veo3-1-lite-4k
                prompt:
                  type: string
                  description: 描述场景、动作、镜头和音频。 最大字符串长度：4000。
                image_urls:
                  type: array
                  items:
                    type: string
                  description: 可选的首帧和尾帧图片。 最多项目数：2。
                aspect_ratio:
                  type: string
                  description: 视频宽高比。
                  default: 16:9
                  enum:
                    - 16:9
                    - 9:16
                resolution:
                  type: string
                  description: 输出分辨率。
                  default: 4k
                  enum:
                    - 720p
                    - 1080p
                    - 4k
                duration:
                  type: integer
                  description: 视频片段时长，单位为秒。
                  default: 8
                  enum:
                    - 4
                    - 6
                    - 8
                callback_url:
                  type: string
                  description: 接收任务完成通知的 HTTPS 地址。
              required:
                - model
                - prompt
            example:
              model: veo3-1-lite-4k
              prompt: A cinematic tracking shot through a rain-soaked neon street, realistic
                motion, synchronized ambient sound.
              aspect_ratio: 16:9
              resolution: 4k
              duration: 8
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                    const: 200
                  message:
                    type: string
                    description: 响应消息。
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                    required:
                      - task_id
                    description: 响应数据。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "veo3-1-lite-4k",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "resolution": "4k",
              "duration": 8
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "veo3-1-lite-4k",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "resolution": "4k",
              "duration": 8
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "veo3-1-lite-4k",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "resolution": "4k",
              "duration": 8
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "veo3-1-lite-4k",
              "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
              "aspect_ratio": "16:9",
              "resolution": "4k",
              "duration": 8
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "veo3-1-lite-4k",
                "prompt": "A cinematic tracking shot through a rain-soaked neon street, realistic motion, synchronized ambient sound.",
                "aspect_ratio": "16:9",
                "resolution": "4k",
                "duration": 8
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
