openapi: 3.1.0
info:
  title: Veo 3.1 Quality API
  version: 1.0.0
  description: Veo 3.1 Quality is a quality-focused route based on Google Veo 3.1.
    It supports text or first/last-frame image guidance and can generate video
    with audio. In APIPod, the public model ID is veo3-1-quality. It supports
    text-to-video and image-to-video, accepts text and image inputs, and returns
    results through asynchronous video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Veo 3.1 Quality is a quality-focused route based on Google Veo 3.1.
        It supports text or first/last-frame image guidance and can generate
        video with audio. In APIPod, the public model ID is veo3-1-quality. It
        supports text-to-video and image-to-video, accepts text and image
        inputs, and returns results through asynchronous video tasks.
      operationId: create-veo-3-1-quality
      tags:
        - Veo 3.1 Quality
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: VEO 3.1 Quality
              description: Google Veo 3.1 Quality
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: veo3-1-quality
                prompt:
                  type: string
                  title: Prompt
                  description: Describe the content of the video to be generated.
                  default: A movie-like close-up shot shows fingers gently touching a complex
                    pencil sketch of an octopus on an antique manuscript. As the
                    fingers make contact, a ripple of water spreads outward, and
                    the 2D drawing magically and seamlessly transforms into a
                    realistic, wet, and glistening 3D octopus. The octopus
                    subtly raises its head, and its tentacles twitch as if
                    coming to life. The entire scene is illuminated by a single
                    warm light source on a dark wooden table, creating a
                    mysterious and wonderful atmosphere. ASMR audio.
                  maxLength: 4000
                image_urls:
                  type: array
                  title: Reference frame
                  description: The referenced start frame or end frame image.
                  items:
                    type: string
                aspect_ratio:
                  type: string
                  title: Aspect ratio
                  description: the generated video width and height aspect ratio.
                  enum:
                    - 16:9
                    - 9:16
                  default: 16:9
                callback_url:
                  type: string
                  title: Callback URL
                  description: Callback Notifications URL.
                  default: ""
              required:
                - model
                - prompt
            example:
              model: veo3-1-quality
              prompt: A movie-like close-up shot shows fingers gently touching a complex
                pencil sketch of an octopus on an antique manuscript. As the
                fingers make contact, a ripple of water spreads outward, and the
                2D drawing magically and seamlessly transforms into a realistic,
                wet, and glistening 3D octopus. The octopus subtly raises its
                head, and its tentacles twitch as if coming to life. The entire
                scene is illuminated by a single warm light source on a dark
                wooden table, creating a mysterious and wonderful atmosphere.
                ASMR audio.
              aspect_ratio: 16:9
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: 任务唯一标识
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "veo3-1-quality",
              "prompt": "A movie-like close-up shot shows fingers gently touching a complex pencil sketch of an octopus on an antique manuscript. As the fingers make contact, a ripple of water spreads outward, and the 2D drawing magically and seamlessly transforms into a realistic, wet, and glistening 3D octopus. The octopus subtly raises its head, and its tentacles twitch as if coming to life. The entire scene is illuminated by a single warm light source on a dark wooden table, creating a mysterious and wonderful atmosphere. ASMR audio.",
              "aspect_ratio": "16:9"
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "veo3-1-quality",
              "prompt": "A movie-like close-up shot shows fingers gently touching a complex pencil sketch of an octopus on an antique manuscript. As the fingers make contact, a ripple of water spreads outward, and the 2D drawing magically and seamlessly transforms into a realistic, wet, and glistening 3D octopus. The octopus subtly raises its head, and its tentacles twitch as if coming to life. The entire scene is illuminated by a single warm light source on a dark wooden table, creating a mysterious and wonderful atmosphere. ASMR audio.",
              "aspect_ratio": "16:9"
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "veo3-1-quality",
              "prompt": "A movie-like close-up shot shows fingers gently touching a complex pencil sketch of an octopus on an antique manuscript. As the fingers make contact, a ripple of water spreads outward, and the 2D drawing magically and seamlessly transforms into a realistic, wet, and glistening 3D octopus. The octopus subtly raises its head, and its tentacles twitch as if coming to life. The entire scene is illuminated by a single warm light source on a dark wooden table, creating a mysterious and wonderful atmosphere. ASMR audio.",
              "aspect_ratio": "16:9"
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "veo3-1-quality",
              "prompt": "A movie-like close-up shot shows fingers gently touching a complex pencil sketch of an octopus on an antique manuscript. As the fingers make contact, a ripple of water spreads outward, and the 2D drawing magically and seamlessly transforms into a realistic, wet, and glistening 3D octopus. The octopus subtly raises its head, and its tentacles twitch as if coming to life. The entire scene is illuminated by a single warm light source on a dark wooden table, creating a mysterious and wonderful atmosphere. ASMR audio.",
              "aspect_ratio": "16:9"
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "veo3-1-quality",
                "prompt": "A movie-like close-up shot shows fingers gently touching a complex pencil sketch of an octopus on an antique manuscript. As the fingers make contact, a ripple of water spreads outward, and the 2D drawing magically and seamlessly transforms into a realistic, wet, and glistening 3D octopus. The octopus subtly raises its head, and its tentacles twitch as if coming to life. The entire scene is illuminated by a single warm light source on a dark wooden table, creating a mysterious and wonderful atmosphere. ASMR audio.",
                "aspect_ratio": "16:9"
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
