openapi: 3.1.0
info:
  title: WAN 3.0 Text to Video API
  version: 1.0.0
  description: Wan 3.0 Text to Video is a dedicated task mode in Alibaba's Wan
    video family that creates video directly from text prompts without source
    media. In APIPod, the public model ID is wan3.0-t2v. It supports
    text-to-video, accepts text inputs, and returns results through asynchronous
    video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Wan 3.0 Text to Video is a dedicated task mode in Alibaba's Wan
        video family that creates video directly from text prompts without
        source media. In APIPod, the public model ID is wan3.0-t2v. It supports
        text-to-video, accepts text inputs, and returns results through
        asynchronous video tasks.
      operationId: create-wan-wan3-0-t2v
      tags:
        - WAN 3.0 Text to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: WAN 3.0 Text to Video
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: wan3.0-t2v
                prompt:
                  type: string
                  title: Prompt
                  description: Text prompt used to describe the expected generated video content.
                  minLength: 1
                  maxLength: 20000
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: Aspect ratio for generated videos.
                  enum:
                    - adaptive
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                  default: adaptive
                resolution:
                  type: string
                  title: Resolution
                  description: Resolution levels for video generation. The default value is 1080p.
                  enum:
                    - 480P
                    - 720P
                    - 1080P
                  default: 1080P
                duration:
                  type: integer
                  title: Duration
                  description: The duration of the generated video, in seconds.
                  enum:
                    - -1
                  default: 5
                  minimum: 2
                  maximum: 30
                generate_audio:
                  type: boolean
                  title: Generate Audio
                  description: Does the output video contain audio?
                  default: true
                watermark:
                  type: boolean
                  title: Watermark
                  default: false
              required:
                - model
                - prompt
            example:
              model: wan3.0-t2v
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              aspect_ratio: adaptive
              resolution: 1080P
              duration: 5
              generate_audio: true
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "wan3.0-t2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "adaptive",
              "resolution": "1080P",
              "duration": 5,
              "generate_audio": true
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "wan3.0-t2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "adaptive",
              "resolution": "1080P",
              "duration": 5,
              "generate_audio": True
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "wan3.0-t2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "adaptive",
              "resolution": "1080P",
              "duration": 5,
              "generate_audio": true
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "wan3.0-t2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "aspect_ratio": "adaptive",
              "resolution": "1080P",
              "duration": 5,
              "generate_audio": true
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "wan3.0-t2v",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "aspect_ratio": "adaptive",
                "resolution": "1080P",
                "duration": 5,
                "generate_audio": true
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
