openapi: 3.1.0
info:
  title: WAN 2.7 Text to Video API
  version: 1.0.0
  description: Wan 2.7 文生视频是阿里 Wan Video模型的独立任务模式，直接根据文本提示词生成视频，不要求源媒体。在 APIPod
    中，公开模型 ID 为 wan2.7-t2v，支持文生视频；接受文本输入，并通过异步视频任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description: Wan 2.7 文生视频是阿里 Wan Video模型的独立任务模式，直接根据文本提示词生成视频，不要求源媒体。在 APIPod
        中，公开模型 ID 为 wan2.7-t2v，支持文生视频；接受文本输入，并通过异步视频任务返回结果。
      operationId: create-wan-wan2-7-t2v
      tags:
        - WAN 2.7 Text to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: WAN 2.7 Text to Video
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: wan2.7-t2v
                prompt:
                  type: string
                  title: Prompt
                  description: 生成或编辑指令。 最大字符串长度：5000。
                  default: ASMR，一把黑色刀具从右向左推进，切入一团白色蓬松的云朵状物体，置于浅木色砧板上。刀具接触时云朵形变，表面裂开，部分结构被切离并移位。云朵边缘持续释放轻烟向上飘散。刀具完成切割后停止，云朵被分为两部分，一侧塌陷。过程伴随轻微‘嘶’声和干冰升华的气流声。
                prompt_extend:
                  type: boolean
                  title: Prompt Extend
                  description: 是否启用智能提示词改写。启用后会使用大模型改写输入提示词，可改善短提示词的生成效果，但会增加处理时间。
                  default: true
                negative_prompt:
                  type: string
                  title: Negative Prompt
                  description: Describe the content you do not wish to see in the video frame,
                    which can be used to restrict the video frame.  最大字符串长度：500。
                  default: low resolution, errors, worst quality, poor quality, incomplete, extra
                    fingers, poor aspect ratio.
                audio_url:
                  type: string
                  title: Audio Url
                  description: 模型使用该音频生成视频。音频长于视频时长时会截取前段，音频短于视频时长时，超出音频长度的部分将保持静音。
                  default: ""
                resolution:
                  type: string
                  title: Resolution
                  description: 输出分辨率档位。
                  enum:
                    - 720P
                    - 1080P
                  default: 1080P
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: 输出宽高比。
                  enum:
                    - 16:9
                    - 9:16
                    - 1:1
                    - 4:3
                    - 3:4
                  default: 16:9
                duration:
                  type: integer
                  title: Duration
                  description: 视频时长，单位为秒。 最小值：2。 最大值：15。
                  default: 5
                watermark:
                  type: boolean
                  title: Watermark
                  description: 添加上游水印。
                  default: false
              required:
                - model
                - prompt
            example:
              model: wan2.7-t2v
              prompt: ASMR，一把黑色刀具从右向左推进，切入一团白色蓬松的云朵状物体，置于浅木色砧板上。刀具接触时云朵形变，表面裂开，部分结构被切离并移位。云朵边缘持续释放轻烟向上飘散。刀具完成切割后停止，云朵被分为两部分，一侧塌陷。过程伴随轻微‘嘶’声和干冰升华的气流声。
              resolution: 1080P
              aspect_ratio: 16:9
              duration: 5
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 响应数据。
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                  message:
                    type: string
                    description: 响应消息。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "wan2.7-t2v",
              "prompt": "ASMR，一把黑色刀具从右向左推进，切入一团白色蓬松的云朵状物体，置于浅木色砧板上。刀具接触时云朵形变，表面裂开，部分结构被切离并移位。云朵边缘持续释放轻烟向上飘散。刀具完成切割后停止，云朵被分为两部分，一侧塌陷。过程伴随轻微‘嘶’声和干冰升华的气流声。",
              "resolution": "1080P",
              "aspect_ratio": "16:9",
              "duration": 5
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "wan2.7-t2v",
              "prompt": "ASMR，一把黑色刀具从右向左推进，切入一团白色蓬松的云朵状物体，置于浅木色砧板上。刀具接触时云朵形变，表面裂开，部分结构被切离并移位。云朵边缘持续释放轻烟向上飘散。刀具完成切割后停止，云朵被分为两部分，一侧塌陷。过程伴随轻微‘嘶’声和干冰升华的气流声。",
              "resolution": "1080P",
              "aspect_ratio": "16:9",
              "duration": 5
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "wan2.7-t2v",
              "prompt": "ASMR，一把黑色刀具从右向左推进，切入一团白色蓬松的云朵状物体，置于浅木色砧板上。刀具接触时云朵形变，表面裂开，部分结构被切离并移位。云朵边缘持续释放轻烟向上飘散。刀具完成切割后停止，云朵被分为两部分，一侧塌陷。过程伴随轻微‘嘶’声和干冰升华的气流声。",
              "resolution": "1080P",
              "aspect_ratio": "16:9",
              "duration": 5
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "wan2.7-t2v",
              "prompt": "ASMR，一把黑色刀具从右向左推进，切入一团白色蓬松的云朵状物体，置于浅木色砧板上。刀具接触时云朵形变，表面裂开，部分结构被切离并移位。云朵边缘持续释放轻烟向上飘散。刀具完成切割后停止，云朵被分为两部分，一侧塌陷。过程伴随轻微‘嘶’声和干冰升华的气流声。",
              "resolution": "1080P",
              "aspect_ratio": "16:9",
              "duration": 5
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "wan2.7-t2v",
                "prompt": "ASMR，一把黑色刀具从右向左推进，切入一团白色蓬松的云朵状物体，置于浅木色砧板上。刀具接触时云朵形变，表面裂开，部分结构被切离并移位。云朵边缘持续释放轻烟向上飘散。刀具完成切割后停止，云朵被分为两部分，一侧塌陷。过程伴随轻微‘嘶’声和干冰升华的气流声。",
                "resolution": "1080P",
                "aspect_ratio": "16:9",
                "duration": 5
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
