openapi: 3.1.0
info:
  title: WAN 2.7 Text to Image Pro API
  version: 1.0.0
  description: Wan 2.7 Image Pro 是 APIPod Wan 2.7 图片系列中的高分辨率文生图路由，提供 4K
    输出档位，适合细节丰富或大尺寸素材。在 APIPod 中，公开模型 ID 为
    wan2.7-image-pro，支持文生图；接受文本输入，并通过异步图片任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/images/generations:
    post:
      summary: 创建生成任务
      description: Wan 2.7 Image Pro 是 APIPod Wan 2.7 图片系列中的高分辨率文生图路由，提供 4K
        输出档位，适合细节丰富或大尺寸素材。在 APIPod 中，公开模型 ID 为
        wan2.7-image-pro，支持文生图；接受文本输入，并通过异步图片任务返回结果。
      operationId: create-wan-2-7-text-to-image-pro
      tags:
        - WAN 2.7 Text to Image Pro
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: WAN 2.7 Image Pro
              properties:
                model:
                  type: string
                  title: Model ID
                  description: APIPod 公开模型 ID。
                  const: wan2.7-image-pro
                prompt:
                  type: string
                  title: Prompt
                  default: ""
                  description: 生成或编辑指令。 最大字符串长度：5000。
                size:
                  type: string
                  title: Size
                  description: 输出尺寸或分辨率简写。
                  enum:
                    - 1K
                    - 2K
                    - 4K
                  default: 2K
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  enum:
                    - 1:1
                    - 1:4
                    - 1:8
                    - 2:3
                    - 3:2
                    - 3:4
                    - 4:1
                    - 4:3
                    - 4:5
                    - 5:4
                    - 8:1
                    - 16:9
                    - 9:16
                    - 21:9
                  default: 16:9
                  description: 输出宽高比。
                thinking_mode:
                  type: boolean
                  title: Thinking Mode
                  description: 允许模型在渲染前进行推理。
                  default: true
                watermark:
                  type: boolean
                  title: Watermark
                  description: 添加上游水印。
                  default: false
                n:
                  type: integer
                  title: Number of images
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                  default: 1
                  description: 生成图片数量。
              required:
                - model
                - prompt
            example:
              model: wan2.7-image-pro
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              size: 2K
              aspect_ratio: 16:9
              n: 1
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                  data:
                    type: object
                    title: Task Submit Data
                    description: 响应数据。
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                  message:
                    type: string
                    description: 响应消息。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "wan2.7-image-pro",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "size": "2K",
              "aspect_ratio": "16:9",
              "n": 1
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "wan2.7-image-pro",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "size": "2K",
              "aspect_ratio": "16:9",
              "n": 1
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "wan2.7-image-pro",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "size": "2K",
              "aspect_ratio": "16:9",
              "n": 1
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "wan2.7-image-pro",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "size": "2K",
              "aspect_ratio": "16:9",
              "n": 1
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "wan2.7-image-pro",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "size": "2K",
                "aspect_ratio": "16:9",
                "n": 1
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
