openapi: 3.1.0
info:
  title: WAN 3.0 Reference to Video API
  version: 1.0.0
  description: Wan 3.0 Reference to Video is a dedicated task mode in Alibaba's
    Wan video family that uses image, video, audio, file, or web references to
    guide generation. In APIPod, the public model ID is wan3.0-r2v. It supports
    image-to-video and video-to-video, accepts text, image, audio, video and
    file inputs, and returns results through asynchronous video tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/videos/generations:
    post:
      summary: Create Generation Task
      description: Wan 3.0 Reference to Video is a dedicated task mode in Alibaba's
        Wan video family that uses image, video, audio, file, or web references
        to guide generation. In APIPod, the public model ID is wan3.0-r2v. It
        supports image-to-video and video-to-video, accepts text, image, audio,
        video and file inputs, and returns results through asynchronous video
        tasks.
      operationId: create-wan-wan3-0-r2v
      tags:
        - WAN 3.0 Reference to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: WAN 3.0 Reference to Video
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: wan3.0-r2v
                prompt:
                  type: string
                  title: Prompt
                  description: Text prompt used to describe the expected generated video content.
                  minLength: 0
                  maxLength: 20000
                image_urls:
                  type: array
                  title: Reference Images
                  description: Refer to the images, up to 10.
                  items:
                    type: string
                video_urls:
                  type: array
                  title: Reference Videos
                  description: Reference videos. Maximum 5 clips, total duration no more than 15
                    seconds.
                  items:
                    type: string
                audio_urls:
                  type: array
                  title: Reference Audio
                  description: Refer to the audio, with a maximum of 5 segments and a total
                    duration no more than 15 seconds.
                  items:
                    type: string
                file_url:
                  type: string
                  title: Reference File
                  description: Reference File, maximum one, cannot be input together with link
                    url. support
                    format：docx、doc、xlsx、xls、pptx、ppt、pdf、txt、key、pages、numbers、md。
                  default: ""
                link_url:
                  type: string
                  title: Reference Link
                  description: The URL address of the public web page. Only public web pages that
                    do not require login are supported for parsing. Cannot be
                    input together with file.
                  default: ""
                duration:
                  type: integer
                  title: Duration
                  enum:
                    - -1
                  default: 5
                  minimum: 2
                  maximum: 51
                resolution:
                  type: string
                  title: Resolution
                  enum:
                    - 480P
                    - 720P
                    - 1080P
                  default: 1080P
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  enum:
                    - adaptive
                    - 16:9
                    - 4:3
                    - 1:1
                    - 3:4
                    - 9:16
                  default: adaptive
                generate_audio:
                  type: boolean
                  title: Generate Audio
                  default: true
                watermark:
                  type: boolean
                  title: Watermark
                  default: false
              required:
                - model
            example:
              model: wan3.0-r2v
              prompt: A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              video_urls:
                - https://cdn.example.com/reference.mp4
              audio_urls:
                - https://cdn.example.com/reference.mp3
              duration: 5
              resolution: 1080P
              aspect_ratio: adaptive
              generate_audio: true
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "wan3.0-r2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "duration": 5,
              "resolution": "1080P",
              "aspect_ratio": "adaptive",
              "generate_audio": true
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "wan3.0-r2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "duration": 5,
              "resolution": "1080P",
              "aspect_ratio": "adaptive",
              "generate_audio": True
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "wan3.0-r2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "duration": 5,
              "resolution": "1080P",
              "aspect_ratio": "adaptive",
              "generate_audio": true
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "wan3.0-r2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "duration": 5,
              "resolution": "1080P",
              "aspect_ratio": "adaptive",
              "generate_audio": true
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "wan3.0-r2v",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "video_urls": [
                  "https://cdn.example.com/reference.mp4"
                ],
                "audio_urls": [
                  "https://cdn.example.com/reference.mp3"
                ],
                "duration": 5,
                "resolution": "1080P",
                "aspect_ratio": "adaptive",
                "generate_audio": true
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
