openapi: 3.1.0
info:
  title: WAN 2.7 Text to Image API
  version: 1.0.0
  description: Wan 2.7 Image is Alibaba's text-to-image model with an optional
    reasoning stage for interpreting prompts and planning composition before
    rendering. In APIPod, the public model ID is wan2.7-image. It supports
    text-to-image, accepts text inputs, and returns results through asynchronous
    image tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/images/generations:
    post:
      summary: Create Generation Task
      description: Wan 2.7 Image is Alibaba's text-to-image model with an optional
        reasoning stage for interpreting prompts and planning composition before
        rendering. In APIPod, the public model ID is wan2.7-image. It supports
        text-to-image, accepts text inputs, and returns results through
        asynchronous image tasks.
      operationId: create-wan-2-7-text-to-image
      tags:
        - WAN 2.7 Text to Image
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: WAN 2.7 Image
              properties:
                model:
                  type: string
                  title: Model ID
                  description: Public APIPod model ID.
                  const: wan2.7-image
                prompt:
                  type: string
                  title: Prompt
                  description: The positive prompt for the generation.
                  default: fish-eye perspective forest scene with dramatic perspective distortion,
                    ultra-detailed red fox staring into lens with piercing amber
                    eyes, hyper-realistic fur texture showing individual guard
                    hairs and undercoat layers, radially warped trees forming
                    circular background patterns, watercolor painting style with
                    translucent washes and organic pigment bleeding, soft pastel
                    palette of moss green and earth ochre tones, painterly
                    lighting with atmospheric glow through canopy gaps
                  maxLength: 5000
                size:
                  type: string
                  title: Size
                  description: Output image resolution parameters.
                  enum:
                    - 1K
                    - 2K
                  default: 1K
                aspect_ratio:
                  type: string
                  title: Aspect Ratio
                  description: The output image's aspect ratio.
                  enum:
                    - 1:1
                    - 1:4
                    - 1:8
                    - 2:3
                    - 3:2
                    - 3:4
                    - 4:1
                    - 4:3
                    - 4:5
                    - 5:4
                    - 8:1
                    - 9:16
                    - 16:9
                    - 21:9
                  default: 16:9
                thinking_mode:
                  type: boolean
                  title: Thinking Mode
                  description: when enabled, the model will enhance reasoning capabilities to
                    improve image generation quality, but it will increase
                    generation time.
                  default: true
                watermark:
                  type: boolean
                  title: Watermark
                  description: Whether to add a watermark, which will be placed in the bottom
                    right corner of the image.
                  default: false
                n:
                  type: integer
                  title: Number of images
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                  default: 1
                  minimum: 1
                  maximum: 4
              required:
                - model
                - prompt
            example:
              model: wan2.7-image
              prompt: fish-eye perspective forest scene with dramatic perspective distortion,
                ultra-detailed red fox staring into lens with piercing amber
                eyes, hyper-realistic fur texture showing individual guard hairs
                and undercoat layers, radially warped trees forming circular
                background patterns, watercolor painting style with translucent
                washes and organic pigment bleeding, soft pastel palette of moss
                green and earth ochre tones, painterly lighting with atmospheric
                glow through canopy gaps
              size: 1K
              aspect_ratio: 16:9
              n: 1
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                title: Task Submit Response
                description: Standard response for task submission
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    title: Task Submit Data
                    description: Data content for task submission
                    properties:
                      task_id:
                        type: string
                        description: generatation task id
                  message:
                    type: string
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "wan2.7-image",
              "prompt": "fish-eye perspective forest scene with dramatic perspective distortion, ultra-detailed red fox staring into lens with piercing amber eyes, hyper-realistic fur texture showing individual guard hairs and undercoat layers, radially warped trees forming circular background patterns, watercolor painting style with translucent washes and organic pigment bleeding, soft pastel palette of moss green and earth ochre tones, painterly lighting with atmospheric glow through canopy gaps",
              "size": "1K",
              "aspect_ratio": "16:9",
              "n": 1
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "wan2.7-image",
              "prompt": "fish-eye perspective forest scene with dramatic perspective distortion, ultra-detailed red fox staring into lens with piercing amber eyes, hyper-realistic fur texture showing individual guard hairs and undercoat layers, radially warped trees forming circular background patterns, watercolor painting style with translucent washes and organic pigment bleeding, soft pastel palette of moss green and earth ochre tones, painterly lighting with atmospheric glow through canopy gaps",
              "size": "1K",
              "aspect_ratio": "16:9",
              "n": 1
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "wan2.7-image",
              "prompt": "fish-eye perspective forest scene with dramatic perspective distortion, ultra-detailed red fox staring into lens with piercing amber eyes, hyper-realistic fur texture showing individual guard hairs and undercoat layers, radially warped trees forming circular background patterns, watercolor painting style with translucent washes and organic pigment bleeding, soft pastel palette of moss green and earth ochre tones, painterly lighting with atmospheric glow through canopy gaps",
              "size": "1K",
              "aspect_ratio": "16:9",
              "n": 1
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "wan2.7-image",
              "prompt": "fish-eye perspective forest scene with dramatic perspective distortion, ultra-detailed red fox staring into lens with piercing amber eyes, hyper-realistic fur texture showing individual guard hairs and undercoat layers, radially warped trees forming circular background patterns, watercolor painting style with translucent washes and organic pigment bleeding, soft pastel palette of moss green and earth ochre tones, painterly lighting with atmospheric glow through canopy gaps",
              "size": "1K",
              "aspect_ratio": "16:9",
              "n": 1
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "wan2.7-image",
                "prompt": "fish-eye perspective forest scene with dramatic perspective distortion, ultra-detailed red fox staring into lens with piercing amber eyes, hyper-realistic fur texture showing individual guard hairs and undercoat layers, radially warped trees forming circular background patterns, watercolor painting style with translucent washes and organic pigment bleeding, soft pastel palette of moss green and earth ochre tones, painterly lighting with atmospheric glow through canopy gaps",
                "size": "1K",
                "aspect_ratio": "16:9",
                "n": 1
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
