openapi: 3.1.0
info:
  title: WAN 2.7 Image to Image Pro API
  version: 1.0.0
  description: Wan 2.7 Image Pro Edit is the quality-oriented editing route in
    APIPod's Wan 2.7 image family, combining reference images with text
    instructions for high-fidelity changes. In APIPod, the public model ID is
    wan2.7-image-pro-edit. It supports image generation and editing, accepts
    text and image inputs, and returns results through asynchronous image tasks.
servers:
  - url: https://api.apipod.ai
    description: Production
paths:
  /v1/images/generations:
    post:
      summary: Create Generation Task
      description: Wan 2.7 Image Pro Edit is the quality-oriented editing route in
        APIPod's Wan 2.7 image family, combining reference images with text
        instructions for high-fidelity changes. In APIPod, the public model ID
        is wan2.7-image-pro-edit. It supports image generation and editing,
        accepts text and image inputs, and returns results through asynchronous
        image tasks.
      operationId: create-wan-2-7-image-to-image-pro
      tags:
        - WAN 2.7 Image to Image Pro
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Public APIPod model ID.
                  const: wan2.7-image-pro-edit
                prompt:
                  type: string
                  description: Describe the image to generate or the edit to perform.
                  maxLength: 5000
                image_urls:
                  type: array
                  items:
                    type: string
                  description: Source images for editing.
                  minItems: 1
                  maxItems: 9
                size:
                  type: string
                  description: Output size or resolution shorthand.
                  default: 2K
                quality:
                  type: string
                  description: Output quality tier.
                  enum:
                    - 1K
                    - 2K
                aspect_ratio:
                  type: string
                  description: Output aspect ratio.
                  enum:
                    - 1:1
                    - 1:4
                    - 1:8
                    - 2:3
                    - 3:2
                    - 3:4
                    - 4:1
                    - 4:3
                    - 4:5
                    - 5:4
                    - 8:1
                    - 16:9
                    - 9:16
                    - 21:9
                n:
                  type: integer
                  description: Number of images to generate.
                  default: 1
                  minimum: 1
                  maximum: 4
                thinking_mode:
                  type: boolean
                  description: Allow reasoning before rendering in text-to-image mode.
                  default: true
                color_palette:
                  type: array
                  description: Optional palette of 3-10 colors with hexadecimal values and target
                    ratios.
                  items:
                    type: object
                  minItems: 3
                  maxItems: 10
                seed:
                  type: integer
                  description: Optional deterministic random seed.
                watermark:
                  type: boolean
                  description: Add an upstream watermark to the result.
                  default: false
              required:
                - model
                - prompt
                - image_urls
            example:
              model: wan2.7-image-pro-edit
              prompt: Animate the subject with a slow camera push-in, natural motion, and soft
                cinematic lighting.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              size: 2K
              quality: 2K
              aspect_ratio: 16:9
              n: 1
      responses:
        "200":
          description: Task accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    const: 200
                  message:
                    type: string
                    description: Response message.
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: Public APIPod task ID used for status queries.
                    required:
                      - task_id
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: img_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/images/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "wan2.7-image-pro-edit",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "size": "2K",
              "quality": "2K",
              "aspect_ratio": "16:9",
              "n": 1
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "wan2.7-image-pro-edit",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "size": "2K",
              "quality": "2K",
              "aspect_ratio": "16:9",
              "n": 1
            }


            response = requests.post(
                "https://api.apipod.ai/v1/images/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "wan2.7-image-pro-edit",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "size": "2K",
              "quality": "2K",
              "aspect_ratio": "16:9",
              "n": 1
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/images/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "wan2.7-image-pro-edit",
              "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "size": "2K",
              "quality": "2K",
              "aspect_ratio": "16:9",
              "n": 1
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/images/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/images/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "wan2.7-image-pro-edit",
                "prompt": "Animate the subject with a slow camera push-in, natural motion, and soft cinematic lighting.",
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "size": "2K",
                "quality": "2K",
                "aspect_ratio": "16:9",
                "n": 1
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: Use your APIPod API key as a Bearer token in the Authorization header.
