openapi: 3.1.0
info:
  title: WAN 3.0 Text to Video API
  version: 1.0.0
  description:
    Wan 3.0 文生视频是阿里 Wan Video模型的独立任务模式，直接根据文本提示词生成视频，不要求源媒体。在 APIPod
    中，公开模型 ID 为 wan3.0-t2v，支持文生视频；接受文本输入，并通过异步视频任务返回结果。
servers:
  - url: https://api.apipod.ai
    description: 生产环境
paths:
  /v1/videos/generations:
    post:
      summary: 创建生成任务
      description:
        Wan 3.0 文生视频是阿里 Wan Video模型的独立任务模式，直接根据文本提示词生成视频，不要求源媒体。在 APIPod
        中，公开模型 ID 为 wan3.0-t2v，支持文生视频；接受文本输入，并通过异步视频任务返回结果。
      operationId: create-wan-wan3-0-t2v
      tags:
        - WAN 3.0 Text to Video
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: APIPod 公开模型 ID。
                  const: wan3.0-t2v
                prompt:
                  type: string
                  description: 生成或编辑指令。 最大字符串长度：5000。
                image_urls:
                  type: array
                  items:
                    type: string
                  description: 可公开访问的源图片或参考图 URL。 最多项目数：2。
                video_urls:
                  type: array
                  items:
                    type: string
                  description: 可公开访问的参考视频 URL。 最多项目数：1。
                audio_urls:
                  type: array
                  items:
                    type: string
                  description: 可公开访问的参考音频 URL。 最多项目数：1。
                file_urls:
                  type: array
                  items:
                    type: string
                  description: 可公开访问的参考文件 URL。 最多项目数：1。
                aspect_ratio:
                  type: string
                  description: 视频宽高比。
                  default: 16:9
                  enum:
                    - adaptive
                    - 16:9
                    - 9:16
                    - 1:1
                resolution:
                  type: string
                  description: 输出分辨率。
                  default: 1080P
                  enum:
                    - 480P
                    - 720P
                    - 1080P
                    - 480p
                    - 720p
                    - 1080p
                duration:
                  type: integer
                  description: 视频片段时长，单位为秒。 最小值：2。 最大值：30。
                  default: 5
                audio:
                  type: boolean
                  description: 在模型支持时生成或保留音频。
                  default: true
                seed:
                  type: integer
                  description: 可选的确定性随机种子，用于复现结果。
                callback_url:
                  type: string
                  description: 接收任务完成通知的 HTTPS 地址。
              required:
                - model
                - prompt
            example:
              model: wan3.0-t2v
              prompt:
                A premium product photograph on a dark studio set, precise typography,
                soft rim lighting, highly detailed.
              image_urls:
                - https://cdn.example.com/reference-1.jpg
              video_urls:
                - https://cdn.example.com/reference.mp4
              audio_urls:
                - https://cdn.example.com/reference.mp3
              aspect_ratio: 16:9
              resolution: 1080P
              duration: 5
      responses:
        "200":
          description: 任务已受理
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP 状态码。
                    const: 200
                  message:
                    type: string
                    description: 响应消息。
                    const: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 用于查询任务状态的 APIPod 任务 ID。
                    required:
                      - task_id
                    description: 响应数据。
                required:
                  - code
                  - message
                  - data
              example:
                code: 200
                message: success
                data:
                  task_id: vid_task_01JEXAMPLE
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >-
            curl https://api.apipod.ai/v1/videos/generations \
              -H "Authorization: Bearer $APIPOD_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
              "model": "wan3.0-t2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "aspect_ratio": "16:9",
              "resolution": "1080P",
              "duration": 5
            }'
        - lang: Python
          label: Python
          source: >-
            import os

            import requests


            payload = {
              "model": "wan3.0-t2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "aspect_ratio": "16:9",
              "resolution": "1080P",
              "duration": 5
            }


            response = requests.post(
                "https://api.apipod.ai/v1/videos/generations",
                headers={
                    "Authorization": f"Bearer {os.environ['APIPOD_API_KEY']}",
                    "Content-Type": "application/json",
                },
                json=payload,
                timeout=60,
            )

            response.raise_for_status()

            print(response.json())
        - lang: Go
          label: Go
          source: >-
            package main


            import (
                "bytes"
                "encoding/json"
                "fmt"
                "net/http"
                "os"
            )


            func main() {
                payload := map[string]any{}
                if err := json.Unmarshal([]byte(`{
              "model": "wan3.0-t2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "aspect_ratio": "16:9",
              "resolution": "1080P",
              "duration": 5
            }`), &payload); err != nil {
                    panic(err)
                }
                body, err := json.Marshal(payload)
                if err != nil {
                    panic(err)
                }

                req, err := http.NewRequest(http.MethodPost, "https://api.apipod.ai/v1/videos/generations", bytes.NewReader(body))
                if err != nil {
                    panic(err)
                }
                req.Header.Set("Authorization", "Bearer "+os.Getenv("APIPOD_API_KEY"))
                req.Header.Set("Content-Type", "application/json")

                resp, err := http.DefaultClient.Do(req)
                if err != nil {
                    panic(err)
                }
                defer resp.Body.Close()
                fmt.Println(resp.Status)
            }
        - lang: Rust
          label: Rust
          source: >-
            use reqwest::Client;

            use serde_json::json;

            use std::env;


            #[tokio::main]

            async fn main() -> Result<(), Box<dyn std::error::Error>> {
                let payload = json!({
              "model": "wan3.0-t2v",
              "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
              "image_urls": [
                "https://cdn.example.com/reference-1.jpg"
              ],
              "video_urls": [
                "https://cdn.example.com/reference.mp4"
              ],
              "audio_urls": [
                "https://cdn.example.com/reference.mp3"
              ],
              "aspect_ratio": "16:9",
              "resolution": "1080P",
              "duration": 5
            });
                let response = Client::new()
                    .post("https://api.apipod.ai/v1/videos/generations")
                    .bearer_auth(env::var("APIPOD_API_KEY")?)
                    .json(&payload)
                    .send()
                    .await?
                    .error_for_status()?;

                println!("{}", response.text().await?);
                Ok(())
            }
        - lang: JavaScript
          label: JavaScript
          source: >-
            const response = await
            fetch("https://api.apipod.ai/v1/videos/generations", {
              method: "POST",
              headers: {
                Authorization: `Bearer ${process.env.APIPOD_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(
              {
                "model": "wan3.0-t2v",
                "prompt": "A premium product photograph on a dark studio set, precise typography, soft rim lighting, highly detailed.",
                "image_urls": [
                  "https://cdn.example.com/reference-1.jpg"
                ],
                "video_urls": [
                  "https://cdn.example.com/reference.mp4"
                ],
                "audio_urls": [
                  "https://cdn.example.com/reference.mp3"
                ],
                "aspect_ratio": "16:9",
                "resolution": "1080P",
                "duration": 5
              }
              ),
            });


            if (!response.ok) {
              throw new Error(`APIPod request failed: ${response.status} ${await response.text()}`);
            }


            console.log(await response.json());
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIPod API key
      description: 在 Authorization 请求头中使用 Bearer APIPod_API_KEY。
